[View in Colaboratory](https://colab.research.google.com/github/venkatakula9652/Complaints_Framework/blob/master/Complaints_Framework_Model_with_custDataset_Venkatesh.ipynb)

In [0]:
# IMPORTING NECESSARY PACKAGES
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [2]:
!apt-get install -y -qq software-properties-common python-software-properties module-init-tools
!add-apt-repository -y ppa:alessandro-strada/ppa 2>&1 > /dev/null
!apt-get update -qq 2>&1 > /dev/null
!apt-get -y install -qq google-drive-ocamlfuse fuse
from google.colab import auth
auth.authenticate_user()
from oauth2client.client import GoogleCredentials
creds = GoogleCredentials.get_application_default()
import getpass
!google-drive-ocamlfuse -headless -id={creds.client_id} -secret={creds.client_secret} < /dev/null 2>&1 | grep URL
vcode = getpass.getpass()
!echo {vcode} | google-drive-ocamlfuse -headless -id={creds.client_id} -secret={creds.client_secret}

Preconfiguring packages ...
Selecting previously unselected package cron.
(Reading database ... 18408 files and directories currently installed.)
Preparing to unpack .../00-cron_3.0pl1-128ubuntu5_amd64.deb ...
Unpacking cron (3.0pl1-128ubuntu5) ...
Selecting previously unselected package libapparmor1:amd64.
Preparing to unpack .../01-libapparmor1_2.11.0-2ubuntu17.1_amd64.deb ...
Unpacking libapparmor1:amd64 (2.11.0-2ubuntu17.1) ...
Selecting previously unselected package libdbus-1-3:amd64.
Preparing to unpack .../02-libdbus-1-3_1.10.22-1ubuntu1_amd64.deb ...
Unpacking libdbus-1-3:amd64 (1.10.22-1ubuntu1) ...
Selecting previously unselected package dbus.
Preparing to unpack .../03-dbus_1.10.22-1ubuntu1_amd64.deb ...
Unpacking dbus (1.10.22-1ubuntu1) ...
Selecting previously unselected package dirmngr.
Preparing to unpack .../04-dirmngr_2.1.15-1ubuntu8.1_amd64.deb ...
Unpacking dirmngr (2.1.15-1ubuntu8.1) ...
Selecting previously unselected package distro-info-data.
Preparing to unpack .../05-distro-info-data_0.36ubuntu0.2_all.deb ...
Unpacking distro-info-data (0.36ubuntu0.2) ...
Selecting previously unselected package libkmod2:amd64.
Preparing to unpack .../06-libkmod2_24-1ubuntu2_amd64.deb ...
Unpacking libkmod2:amd64 (24-1ubuntu2) ...
Selecting previously unselected package kmod.
Preparing to unpack .../07-kmod_24-1ubuntu2_amd64.deb ...
Unpacking kmod (24-1ubuntu2) ...
Selecting previously unselected package lsb-release.
Preparing to unpack .../08-lsb-release_9.20160110ubuntu5_all.deb ...
Unpacking lsb-release (9.20160110ubuntu5) ...
Selecting previously unselected package libgirepository-1.0-1:amd64.
Preparing to unpack .../09-libgirepository-1.0-1_1.54.1-1_amd64.deb ...
Unpacking libgirepository-1.0-1:amd64 (1.54.1-1) ...
Selecting previously unselected package gir1.2-glib-2.0:amd64.
Preparing to unpack .../10-gir1.2-glib-2.0_1.54.1-1_amd64.deb ...
Unpacking gir1.2-glib-2.0:amd64 (1.54.1-1) ...
Selecting previously unselected package iso-codes.
Preparing to unpack .../11-iso-codes_3.75-1_all.deb ...
Unpacking iso-codes (3.75-1) ...
Selecting previously unselected package libdbus-glib-1-2:amd64.
Preparing to unpack .../12-libdbus-glib-1-2_0.108-2_amd64.deb ...
Unpacking libdbus-glib-1-2:amd64 (0.108-2) ...
Selecting previously unselected package python-apt-common.
Preparing to unpack .../13-python-apt-common_1.4.0~beta3build2_all.deb ...
Unpacking python-apt-common (1.4.0~beta3build2) ...
Selecting previously unselected package python3-apt.
Preparing to unpack .../14-python3-apt_1.4.0~beta3build2_amd64.deb ...
Unpacking python3-apt (1.4.0~beta3build2) ...
Selecting previously unselected package python3-dbus.
Preparing to unpack .../15-python3-dbus_1.2.4-1build3_amd64.deb ...
Unpacking python3-dbus (1.2.4-1build3) ...
Selecting previously unselected package python3-gi.
Preparing to unpack .../16-python3-gi_3.24.1-2build1_amd64.deb ...
Unpacking python3-gi (3.24.1-2build1) ...
Selecting previously unselected package module-init-tools.
Preparing to unpack .../17-module-init-tools_24-1ubuntu2_all.deb ...
Unpacking module-init-tools (24-1ubuntu2) ...
Selecting previously unselected package python-apt.
Preparing to unpack .../18-python-apt_1.4.0~beta3build2_amd64.deb ...
Unpacking python-apt (1.4.0~beta3build2) ...
Selecting previously unselected package python-pycurl.
Preparing to unpack .../19-python-pycurl_7.43.0-2build2_amd64.deb ...
Unpacking python-pycurl (7.43.0-2build2) ...
Selecting previously unselected package python-software-properties.
Preparing to unpack .../20-python-software-properties_0.96.24.17_all.deb ...
Unpacking python-software-properties (0.96.24.17) ...
Selecting previously unselected package python3-software-properties.
Preparing to unpack .../21-python3-software-properties_0.96.24.17_all.deb ...
Unpacking python3-software-properties (0.96.24.17) ...
Selecting previously unselected package software-properties-common.
Preparing to unpack .../22-software-properties-common_0.96.24.17_all.deb ...
Unpacking software-properties-common (0.96.24.17) ...
Selecting previously unselected package unattended-upgrades.
Preparing to unpack .../23-unattended-upgrades_0.98ubuntu1.1_all.deb ...
Unpacking unattended-upgrades (0.98ubuntu1.1) ...
Setting up python-apt-common (1.4.0~beta3build2) ...
Setting up python3-apt (1.4.0~beta3build2) ...
Setting up iso-codes (3.75-1) ...
Setting up distro-info-data (0.36ubuntu0.2) ...
Setting up python-pycurl (7.43.0-2build2) ...
Setting up lsb-release (9.20160110ubuntu5) ...
Setting up libgirepository-1.0-1:amd64 (1.54.1-1) ...
Setting up libkmod2:amd64 (24-1ubuntu2) ...
Setting up gir1.2-glib-2.0:amd64 (1.54.1-1) ...
Processing triggers for libc-bin (2.26-0ubuntu2.1) ...
Setting up libapparmor1:amd64 (2.11.0-2ubuntu17.1) ...
Setting up unattended-upgrades (0.98ubuntu1.1) ...

Creating config file /etc/apt/apt.conf.d/20auto-upgrades with new version

Creating config file /etc/apt/apt.conf.d/50unattended-upgrades with new version
invoke-rc.d: could not determine current runlevel
invoke-rc.d: policy-rc.d denied execution of start.
Setting up dirmngr (2.1.15-1ubuntu8.1) ...
Setting up cron (3.0pl1-128ubuntu5) ...
Adding group `crontab' (GID 102) ...
Done.
update-rc.d: warning: start and stop actions are no longer supported; falling back to defaults
update-rc.d: warning: stop runlevel arguments (1) do not match cron Default-Stop values (none)
invoke-rc.d: could not determine current runlevel
invoke-rc.d: policy-rc.d denied execution of start.
Setting up libdbus-1-3:amd64 (1.10.22-1ubuntu1) ...
Setting up kmod (24-1ubuntu2) ...
Setting up libdbus-glib-1-2:amd64 (0.108-2) ...
Setting up python3-gi (3.24.1-2build1) ...
Setting up module-init-tools (24-1ubuntu2) ...
Setting up python3-software-properties (0.96.24.17) ...
Setting up dbus (1.10.22-1ubuntu1) ...
Setting up python-apt (1.4.0~beta3build2) ...
Setting up python3-dbus (1.2.4-1build3) ...
Setting up python-software-properties (0.96.24.17) ...
Setting up software-properties-common (0.96.24.17) ...
Processing triggers for libc-bin (2.26-0ubuntu2.1) ...
Processing triggers for dbus (1.10.22-1ubuntu1) ...
gpg: keybox '/tmp/tmpjdrzl09l/pubring.gpg' created
gpg: /tmp/tmpjdrzl09l/trustdb.gpg: trustdb created
gpg: key AD5F235DF639B041: public key "Launchpad PPA for Alessandro Strada" imported
gpg: Total number processed: 1
gpg:               imported: 1
Warning: apt-key output should not be parsed (stdout is not a terminal)
Selecting previously unselected package libfuse2:amd64.
(Reading database ... 19816 files and directories currently installed.)
Preparing to unpack .../libfuse2_2.9.7-1ubuntu1_amd64.deb ...
Unpacking libfuse2:amd64 (2.9.7-1ubuntu1) ...
Selecting previously unselected package fuse.
Preparing to unpack .../fuse_2.9.7-1ubuntu1_amd64.deb ...
Unpacking fuse (2.9.7-1ubuntu1) ...
Selecting previously unselected package google-drive-ocamlfuse.
Preparing to unpack .../google-drive-ocamlfuse_0.6.21-0ubuntu2_amd64.deb ...
Unpacking google-drive-ocamlfuse (0.6.21-0ubuntu2) ...
Setting up libfuse2:amd64 (2.9.7-1ubuntu1) ...
Processing triggers for libc-bin (2.26-0ubuntu2.1) ...
Setting up fuse (2.9.7-1ubuntu1) ...
Setting up google-drive-ocamlfuse (0.6.21-0ubuntu2) ...
Please, open the following URL in a web browser: https://accounts.google.com/o/oauth2/auth?client_id=32555940559.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive&response_type=code&access_type=offline&approval_prompt=force
··········
Please, open the following URL in a web browser: https://accounts.google.com/o/oauth2/auth?client_id=32555940559.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive&response_type=code&access_type=offline&approval_prompt=force
Please enter the verification code: Access token retrieved correctly.

In [0]:
!mkdir -p drive
!google-drive-ocamlfuse drive

In [4]:
data = pd.read_csv("drive/Complaints_Dataset/complaints-2018-08-17.csv")

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (25,30,31,32) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
data.head()

,Date received,Product,Sub-product,Issue,Sub-issue,Consumer complaint narrative,Company public response,Company,State,ZIP code,...,Unnamed: 23,Zip Code,Place Name,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32
0,05-11-2018,Mortgage,FHA mortgage,Trouble during payment process,NaN,NaN,Company believes complaint is the result of an...,"loanDepot.com, LLC",AA,34031,...,NaN,501.0,Holtsville,NaN,NaN,NaN,92274.0,100 Palms,California,CA
1,02/20/13,Mortgage,Other mortgage,"Loan modification,collection,foreclosure",NaN,NaN,NaN,WELLS FARGO & COMPANY,AA,98282,...,NaN,544.0,Holtsville,NaN,NaN,NaN,92276.0,1000 Palms,California,CA
2,09/17/16,Mortgage,VA mortgage,"Loan modification,collection,foreclosure",NaN,I ran into some financial issues and contacted...,NaN,FIFTH THIRD FINANCIAL CORPORATION,AA,340XX,...,NaN,1001.0,Agawam,NaN,NaN,NaN,92277.0,29 Palms,California,CA
3,08/18/15,Mortgage,Conventional fixed mortgage,"Loan servicing, payments, escrow account",NaN,"My mortgage servicer, PHH corporation, has fai...",NaN,PHH Mortgage Services Corporation,AA,340XX,...,NaN,1002.0,Amherst,NaN,NaN,NaN,92278.0,29 Palms,California,CA
4,05/28/14,Mortgage,Conventional fixed mortgage,"Loan servicing, payments, escrow account",NaN,NaN,NaN,"CITIBANK, N.A.",AA,34058,...,NaN,1003.0,Amherst,NaN,NaN,NaN,90848.0,A A R P,California,CA

In [0]:
data = data[data.Company == 'WELLS FARGO & COMPANY']

In [0]:
data = data[data.State.isin(['AK','AL','AR','AZ','CA','CO','CT','DC','DE','FL','GA','HI','IA','ID','IL','IN','KS','KY','LA','MA','MD','ME','MI','MN','MO','MS','MT','NC','ND','NE','NH','NJ','NM','NV','NY','OH','OK','OR','PA','PR','RI','SC','SD','TN','TX','UT','VA','VT','WA','WI','WV','WY'])]

In [8]:
data.head()

,Date received,Product,Sub-product,Issue,Sub-issue,Consumer complaint narrative,Company public response,Company,State,ZIP code,...,Unnamed: 23,Zip Code,Place Name,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32
114,11/14/16,Mortgage,Other mortgage,"Loan modification,collection,foreclosure",NaN,NaN,Company has responded to the consumer and the ...,WELLS FARGO & COMPANY,AK,99524,...,NaN,1245.0,Monterey,NaN,NaN,NaN,92307.0,Apple Valley,California,CA
117,02-09-2015,Mortgage,FHA mortgage,"Loan modification,collection,foreclosure",NaN,NaN,NaN,WELLS FARGO & COMPANY,AK,99567,...,NaN,1253.0,Otis,NaN,NaN,NaN,95001.0,Aptos,California,CA
118,03-02-2016,Mortgage,Other mortgage,"Application, originator, mortgage broker",NaN,I refinanced my loan with Wells Fargo. The ori...,Company has responded to the consumer and the ...,WELLS FARGO & COMPANY,AK,995XX,...,NaN,1254.0,Richmond,NaN,NaN,NaN,95003.0,Aptos,California,CA
120,12-02-2014,Mortgage,FHA mortgage,"Loan modification,collection,foreclosure",NaN,NaN,NaN,WELLS FARGO & COMPANY,AK,99507,...,NaN,1256.0,Savoy,NaN,NaN,NaN,95912.0,Arbuckle,California,CA
123,03-07-2013,Mortgage,Other mortgage,"Loan servicing, payments, escrow account",NaN,NaN,NaN,WELLS FARGO & COMPANY,AK,99516,...,NaN,1259.0,Southfield,NaN,NaN,NaN,91066.0,Arcadia,California,CA

In [9]:
data.index = range(data.shape[0])
data.head()

,Date received,Product,Sub-product,Issue,Sub-issue,Consumer complaint narrative,Company public response,Company,State,ZIP code,...,Unnamed: 23,Zip Code,Place Name,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32
0,11/14/16,Mortgage,Other mortgage,"Loan modification,collection,foreclosure",NaN,NaN,Company has responded to the consumer and the ...,WELLS FARGO & COMPANY,AK,99524,...,NaN,1245.0,Monterey,NaN,NaN,NaN,92307.0,Apple Valley,California,CA
1,02-09-2015,Mortgage,FHA mortgage,"Loan modification,collection,foreclosure",NaN,NaN,NaN,WELLS FARGO & COMPANY,AK,99567,...,NaN,1253.0,Otis,NaN,NaN,NaN,95001.0,Aptos,California,CA
2,03-02-2016,Mortgage,Other mortgage,"Application, originator, mortgage broker",NaN,I refinanced my loan with Wells Fargo. The ori...,Company has responded to the consumer and the ...,WELLS FARGO & COMPANY,AK,995XX,...,NaN,1254.0,Richmond,NaN,NaN,NaN,95003.0,Aptos,California,CA
3,12-02-2014,Mortgage,FHA mortgage,"Loan modification,collection,foreclosure",NaN,NaN,NaN,WELLS FARGO & COMPANY,AK,99507,...,NaN,1256.0,Savoy,NaN,NaN,NaN,95912.0,Arbuckle,California,CA
4,03-07-2013,Mortgage,Other mortgage,"Loan servicing, payments, escrow account",NaN,NaN,NaN,WELLS FARGO & COMPANY,AK,99516,...,NaN,1259.0,Southfield,NaN,NaN,NaN,91066.0,Arcadia,California,CA

In [10]:
data.shape

(34081, 33)

In [0]:
#req_cols = ['Date received','Issue','State','Submitted via', 'Date sent to company','Company reponse to consumer']
req_cols = ['Date received','Issue','City','Submitted via', 'Date sent to company','Company response to consumer']

In [12]:
data.columns

Index(['Date received', 'Product', 'Sub-product', 'Issue', 'Sub-issue',
       'Consumer complaint narrative', 'Company public response', 'Company',
       'State', 'ZIP code', 'Tags', 'Consumer consent provided?',
       'Submitted via', 'Date sent to company', 'Company response to consumer',
       'Timely response?', 'Consumer disputed?', 'Complaint ID', 'City',
       'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22',
       'Unnamed: 23', 'Zip Code', 'Place Name', 'Unnamed: 26', 'Unnamed: 27',
       'Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31',
       'Unnamed: 32'],
      dtype='object')

In [0]:
data_req = data[req_cols]

In [14]:
data_req.shape

(34081, 6)

In [15]:
data_req.columns

Index(['Date received', 'Issue', 'City', 'Submitted via',
       'Date sent to company', 'Company response to consumer'],
      dtype='object')

In [16]:
data_req['Date received']=pd.to_datetime(data_req['Date received'])
data_req['Date sent to company']=pd.to_datetime(data_req['Date sent to company'])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [17]:
data_req.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34081 entries, 0 to 34080
Data columns (total 6 columns):
Date received                   34081 non-null datetime64[ns]
Issue                           34081 non-null object
City                            28423 non-null object
Submitted via                   34081 non-null object
Date sent to company            34081 non-null datetime64[ns]
Company response to consumer    34081 non-null object
dtypes: datetime64[ns](2), object(4)
memory usage: 1.6+ MB

In [18]:
data_req['Time Difference'] = (data_req['Date sent to company']-data_req['Date received']).astype('timedelta64[s]')
data_req.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,Date received,Issue,City,Submitted via,Date sent to company,Company response to consumer,Time Difference
0,2016-11-14,"Loan modification,collection,foreclosure",Anchorage,Referral,2016-11-16,Closed with explanation,172800.0
1,2015-02-09,"Loan modification,collection,foreclosure",Chugiak,Web,2015-02-09,Closed with explanation,0.0
2,2016-03-02,"Application, originator, mortgage broker",NaN,Web,2016-03-04,Closed with monetary relief,172800.0
3,2014-12-02,"Loan modification,collection,foreclosure",Anchorage,Web,2014-12-05,Closed with explanation,259200.0
4,2013-03-07,"Loan servicing, payments, escrow account",Anchorage,Referral,2013-03-08,Closed with explanation,86400.0

In [19]:
data_req.loc[data_req['Time Difference'] < 0, 'Time Difference'] = 0
data_req.head()

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:537: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

,Date received,Issue,City,Submitted via,Date sent to company,Company response to consumer,Time Difference
0,2016-11-14,"Loan modification,collection,foreclosure",Anchorage,Referral,2016-11-16,Closed with explanation,172800.0
1,2015-02-09,"Loan modification,collection,foreclosure",Chugiak,Web,2015-02-09,Closed with explanation,0.0
2,2016-03-02,"Application, originator, mortgage broker",NaN,Web,2016-03-04,Closed with monetary relief,172800.0
3,2014-12-02,"Loan modification,collection,foreclosure",Anchorage,Web,2014-12-05,Closed with explanation,259200.0
4,2013-03-07,"Loan servicing, payments, escrow account",Anchorage,Referral,2013-03-08,Closed with explanation,86400.0

In [20]:
from sklearn.preprocessing import MinMaxScaler
values=data_req['Time Difference'].values.reshape((len(data_req['Time Difference']), 1))
# train the normalization
scaler = MinMaxScaler(feature_range=(0, 1))
scaler = scaler.fit(values)
# normalize the dataset
data_req['Time Difference'] = scaler.transform(values)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

In [21]:
data_req.head()

,Date received,Issue,City,Submitted via,Date sent to company,Company response to consumer,Time Difference
0,2016-11-14,"Loan modification,collection,foreclosure",Anchorage,Referral,2016-11-16,Closed with explanation,0.003846
1,2015-02-09,"Loan modification,collection,foreclosure",Chugiak,Web,2015-02-09,Closed with explanation,0.000000
2,2016-03-02,"Application, originator, mortgage broker",NaN,Web,2016-03-04,Closed with monetary relief,0.003846
3,2014-12-02,"Loan modification,collection,foreclosure",Anchorage,Web,2014-12-05,Closed with explanation,0.005769
4,2013-03-07,"Loan servicing, payments, escrow account",Anchorage,Referral,2013-03-08,Closed with explanation,0.001923

In [22]:
data_req.dtypes

Date received                   datetime64[ns]
Issue                                   object
City                                    object
Submitted via                           object
Date sent to company            datetime64[ns]
Company response to consumer            object
Time Difference                        float64
dtype: object

In [0]:
data_req=data_req.drop(data_req.columns[[0, 4]], axis=1)

In [24]:
data_req.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34081 entries, 0 to 34080
Data columns (total 5 columns):
Issue                           34081 non-null object
City                            28423 non-null object
Submitted via                   34081 non-null object
Company response to consumer    34081 non-null object
Time Difference                 34081 non-null float64
dtypes: float64(1), object(4)
memory usage: 1.3+ MB

In [25]:
data_req['Issue'].value_counts(dropna=False)

Loan modification,collection,foreclosure                                            17187
Loan servicing, payments, escrow account                                             7955
Application, originator, mortgage broker                                             2554
Struggling to pay mortgage                                                           1651
Trouble during payment process                                                       1406
Settlement process and costs                                                         1081
Credit decision / Underwriting                                                        858
Other                                                                                 708
Applying for a mortgage or refinancing an existing mortgage                           301
Closing on a mortgage                                                                 225
Incorrect information on your report                                                   75
Applying for a mortgage                                                                53
Problem with a credit reporting company's investigation into an existing problem       20
Improper use of your report                                                             4
Unable to get your credit report or credit score                                        3
Name: Issue, dtype: int64

In [26]:
data_req['City'].value_counts(dropna=False)

NaN                5658
Miami               513
Los Angeles         296
Atlanta             266
Brooklyn            231
Chicago             227
San Diego           194
Philadelphia        190
Fort Lauderdale     157
Jacksonville        157
Washington          156
Las Vegas           154
Pompano Beach       143
San Francisco       143
New York            137
Charlotte           137
Orlando             129
San Jose            128
Seattle             123
Minneapolis         122
Sacramento          122
Houston             119
Phoenix             112
Portland            111
West Palm Beach     105
Hollywood           104
Dallas              101
Oakland              99
Baltimore            98
Corona               96
                   ...
Live Oak              1
Doyline               1
Coolville             1
Haileyville           1
Newport Coast         1
Belle Glade           1
Pine River            1
Woodford              1
Fountain Inn          1
Waipahu               1
Moultrie              1
Lillian               1
Melrose Park          1
Kihei                 1
Shaftsbury            1
Inwood                1
Stevens               1
Campton               1
Corinth               1
Elliottsburg          1
Tyngsboro             1
Saint Peters          1
Kearneysville         1
North Garden          1
Mendham               1
Cavalier              1
Morrisonville         1
Randall               1
Minneola              1
Towanda               1
Name: City, Length: 4521, dtype: int64

In [27]:
data_req['Submitted via'].value_counts(dropna=False)

Web            18303
Referral       11262
Phone           1927
Postal mail     1842
Fax              727
Email             20
Name: Submitted via, dtype: int64

In [28]:
data_req['Company response to consumer'].value_counts(dropna=False)

Closed with explanation            29158
Closed without relief               1960
Closed with non-monetary relief     1622
Closed with monetary relief         1055
In progress                          161
Closed                                64
Closed with relief                    57
Untimely response                      4
Name: Company response to consumer, dtype: int64

In [29]:
data_req['Time Difference'].value_counts(dropna=False)

0.000000    13869
0.001923     6012
0.003846     3376
0.005769     2542
0.007692     2347
0.009615     2009
0.011538     1293
0.013462      832
0.015385      286
0.017308      142
0.019231      142
0.028846       95
0.025000       91
0.021154       85
0.023077       85
0.026923       68
0.032692       63
0.030769       43
0.036538       38
0.067308       36
0.042308       34
0.038462       32
0.040385       32
0.034615       30
0.055769       24
0.053846       24
0.044231       23
0.075000       22
0.046154       22
0.069231       22
            ...
0.157692        1
0.190385        1
0.405769        1
0.144231        1
0.317308        1
0.334615        1
0.263462        1
0.425000        1
0.186538        1
0.496154        1
0.494231        1
0.446154        1
0.113462        1
0.390385        1
0.523077        1
0.250000        1
0.203846        1
0.513462        1
0.480769        1
0.169231        1
0.121154        1
0.342308        1
0.253846        1
0.225000        1
0.209615        1
0.142308        1
0.363462        1
0.401923        1
0.194231        1
0.365385        1
Name: Time Difference, Length: 148, dtype: int64

In [0]:
data_req=data_req.dropna(how='any')

In [31]:
data_req.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28423 entries, 0 to 34078
Data columns (total 5 columns):
Issue                           28423 non-null object
City                            28423 non-null object
Submitted via                   28423 non-null object
Company response to consumer    28423 non-null object
Time Difference                 28423 non-null float64
dtypes: float64(1), object(4)
memory usage: 1.3+ MB

In [0]:
#data_req[:5]['Total Days'] / np.timedelta64(1, 's')

In [33]:
data_req.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28423 entries, 0 to 34078
Data columns (total 5 columns):
Issue                           28423 non-null object
City                            28423 non-null object
Submitted via                   28423 non-null object
Company response to consumer    28423 non-null object
Time Difference                 28423 non-null float64
dtypes: float64(1), object(4)
memory usage: 1.3+ MB

In [34]:
data_req.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28423 entries, 0 to 34078
Data columns (total 5 columns):
Issue                           28423 non-null object
City                            28423 non-null object
Submitted via                   28423 non-null object
Company response to consumer    28423 non-null object
Time Difference                 28423 non-null float64
dtypes: float64(1), object(4)
memory usage: 1.3+ MB

In [35]:
!pip install kmodes

Collecting kmodes
  Downloading https://files.pythonhosted.org/packages/1a/d5/54e0efa2ddf33234761f8c35471f4a2280bb4cef44fd39fa08f1e663946a/kmodes-0.9-py2.py3-none-any.whl
Requirement already satisfied: numpy>=1.10.4 in /usr/local/lib/python3.6/dist-packages (from kmodes) (1.14.5)
Requirement already satisfied: scikit-learn<0.20.0,>=0.19.0 in /usr/local/lib/python3.6/dist-packages (from kmodes) (0.19.2)
Requirement already satisfied: scipy>=0.13.3 in /usr/local/lib/python3.6/dist-packages (from kmodes) (0.19.1)
Installing collected packages: kmodes
Successfully installed kmodes-0.9

In [0]:
from kmodes.kprototypes import KPrototypes

In [0]:
km = KPrototypes(n_clusters=5, init='Huang', n_init=3, verbose=1)

In [0]:
#clusters = km.fit_predict(data_req_new)
clusters = km.fit_predict(data_req.as_matrix(), categorical=list(range(0,4)))

Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 1, iteration: 1/100, moves: 5522, ncost: 556.2452550097636
Run: 1, iteration: 2/100, moves: 4481, ncost: 554.0190520232643
Run: 1, iteration: 3/100, moves: 630, ncost: 551.0517253263217
Run: 1, iteration: 4/100, moves: 530, ncost: 550.7104370629539
Run: 1, iteration: 5/100, moves: 34, ncost: 550.7065663098599
Run: 1, iteration: 6/100, moves: 1, ncost: 550.7059906346427
Run: 1, iteration: 7/100, moves: 0, ncost: 550.7059906346427
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 2, iteration: 1/100, moves: 10997, ncost: 524.8686882015231
Run: 2, iteration: 2/100, moves: 6947, ncost: 522.2694403136942
Run: 2, iteration: 3/100, moves: 2016, ncost: 521.9746055089506
Run: 2, iteration: 4/100, moves: 2392, ncost: 521.9533912834537
Run: 2, iteration: 5/100, moves: 0, ncost: 521.9533912834537
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 3, iteration: 1/100, moves: 5247, ncost: 550.8402909223657
Run: 3, iteration: 2/100, moves: 1773, ncost: 550.831521394373
Run: 3, iteration: 3/100, moves: 85, ncost: 550.8312800657577
Run: 3, iteration: 4/100, moves: 0, ncost: 550.8312800657577
Best run was number 2

In [0]:
print(km.cluster_centroids_)

[array([[0.00830946],
       [0.00545021],
       [0.00404738],
       [0.01596363],
       [0.00186717]]), array([['Loan modification,collection,foreclosure', 'Miami', 'Referral',
        'Closed with explanation'],
       ['Loan modification,collection,foreclosure', 'Los Angeles', 'Web',
        'Closed with explanation'],
       ['Application, originator, mortgage broker', 'Atlanta', 'Web',
        'Closed with explanation'],
       ['Loan servicing, payments, escrow account', 'Chicago',
        'Referral', 'Closed with explanation'],
       ['Loan servicing, payments, escrow account', 'Miami', 'Web',
        'Closed with explanation']], dtype='<U40')]

In [0]:
clusters=clusters.reshape(28423,1)

In [0]:
class_cluster = pd.DataFrame(clusters,columns=['Class cluster'])

In [0]:
class_cluster.head()

   Class cluster
0              0
1              1
2              1
3              3
4              0

In [0]:
#data_req_new.head()
data_req.head()

,Issue,City,Submitted via,Company response to consumer,Time Difference
0,"Loan modification,collection,foreclosure",Anchorage,Referral,Closed with explanation,0.003846
1,"Loan modification,collection,foreclosure",Chugiak,Web,Closed with explanation,0.000000
3,"Loan modification,collection,foreclosure",Anchorage,Web,Closed with explanation,0.005769
4,"Loan servicing, payments, escrow account",Anchorage,Referral,Closed with explanation,0.001923
5,"Loan modification,collection,foreclosure",Anchorage,Postal mail,Closed with explanation,0.007692

In [0]:
data_req.index = range(data_req.shape[0])
data_req.head()

,Issue,City,Submitted via,Company response to consumer,Time Difference
0,"Loan modification,collection,foreclosure",Anchorage,Referral,Closed with explanation,0.003846
1,"Loan modification,collection,foreclosure",Chugiak,Web,Closed with explanation,0.000000
2,"Loan modification,collection,foreclosure",Anchorage,Web,Closed with explanation,0.005769
3,"Loan servicing, payments, escrow account",Anchorage,Referral,Closed with explanation,0.001923
4,"Loan modification,collection,foreclosure",Anchorage,Postal mail,Closed with explanation,0.007692

In [0]:
#data_req_new = pd.concat([data_req_new,class_cluster],axis=1)
data_req = pd.concat([data_req,class_cluster],axis=1)

In [0]:
#data_req_new.head()
data_req.head()

,Issue,City,Submitted via,Company response to consumer,Time Difference,Class cluster
0,"Loan modification,collection,foreclosure",Anchorage,Referral,Closed with explanation,0.003846,0
1,"Loan modification,collection,foreclosure",Chugiak,Web,Closed with explanation,0.000000,1
2,"Loan modification,collection,foreclosure",Anchorage,Web,Closed with explanation,0.005769,1
3,"Loan servicing, payments, escrow account",Anchorage,Referral,Closed with explanation,0.001923,3
4,"Loan modification,collection,foreclosure",Anchorage,Postal mail,Closed with explanation,0.007692,0

In [0]:
# DF TO CSV
path= r'drive/Complaints_Dataset/'
data_req.to_csv(path+'clusteredComplaintsDataSet.csv', sep=',', encoding='utf-8')

In [0]:
from __future__ import division, print_function

In [0]:
from matplotlib import pyplot as plt
import pandas as pd
import numpy as np
%matplotlib inline

In [0]:

importimport  matplotlibmatplot 
matplotlib.rc('figure', figsize = (14, 7))
matplotlib.rc('font', size = 14)
matplotlib.rc('axes.spines', top = False, right = False)
matplotlib.rc('axes', grid = False)
matplotlib.rc('axes', facecolor = 'white')

In [0]:
def scatterplot(x_data, y_data, x_label, y_label, title):
    _, ax = plt.subplots()
    ax.scatter(x_data, y_data, s = 30, color = '#539caf', alpha = 0.75)
    ax.set_title(title)
    ax.set_xlabel(x_label)
    ax.set_ylabel(y_label)

In [0]:
scatterplot(x_data = data_req_new['City']
            , y_data = data_req_new['Issue']
            , x_label = 'City'
            , y_label = 'Issue'
            , title = 'Number of Issue Vs City')

In [160]:
cust_dataset_columns=['City','Issue']
customer_data_set=data_req[cust_dataset_columns]
customer_data_set.head()

        City                                     Issue
0  Anchorage  Loan modification,collection,foreclosure
1    Chugiak  Loan modification,collection,foreclosure
3  Anchorage  Loan modification,collection,foreclosure
4  Anchorage  Loan servicing, payments, escrow account
5  Anchorage  Loan modification,collection,foreclosure

In [161]:

customer_data_set=customer_data_set[customer_data_set.City.isin(['Miami','Los Angeles','Atlanta','Brooklyn','Chicago'])]
customer_data_set.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1533 entries, 1193 to 26510
Data columns (total 2 columns):
City     1533 non-null object
Issue    1533 non-null object
dtypes: object(2)
memory usage: 35.9+ KB

In [162]:
customer_data_set.index = range(customer_data_set.shape[0])
customer_data_set.head()

          City                                     Issue
0  Los Angeles  Loan modification,collection,foreclosure
1  Los Angeles  Loan servicing, payments, escrow account
2  Los Angeles  Loan modification,collection,foreclosure
3  Los Angeles  Application, originator, mortgage broker
4  Los Angeles  Loan modification,collection,foreclosure

In [168]:



import random
customer_data_set['frequency']=(customer_data_set.groupby('City')['City'].transform('count'))
customer_data_set['customers_needed']=(customer_data_set.groupby('City')['City'].transform('count')//20)
customer_data_set['Customer_id']=""
customer_data_set.head()

,City,Issue,frequency,customers_needed,Customer_id
0,Los Angeles,"Loan modification,collection,foreclosure",296,14,
1,Los Angeles,"Loan servicing, payments, escrow account",296,14,
2,Los Angeles,"Loan modification,collection,foreclosure",296,14,
3,Los Angeles,"Application, originator, mortgage broker",296,14,
4,Los Angeles,"Loan modification,collection,foreclosure",296,14,

In [169]:
customer_data_set['customers_needed'].value_counts(dropna=False)

25    513
11    458
14    296
13    266
Name: customers_needed, dtype: int64

In [170]:
import random
for i in customer_data_set.index:
  customer_data_set.at[i, 'Customer_id']=customer_data_set.at[i, 'City'][0:3]+"_"+str(customer_data_set.at[i, 'frequency'])+"_"+str(random.randint(1, customer_data_set.at[i, 'customers_needed']))
  
customer_data_set.head()

,City,Issue,frequency,customers_needed,Customer_id
0,Los Angeles,"Loan modification,collection,foreclosure",296,14,Los_296_13
1,Los Angeles,"Loan servicing, payments, escrow account",296,14,Los_296_9
2,Los Angeles,"Loan modification,collection,foreclosure",296,14,Los_296_7
3,Los Angeles,"Application, originator, mortgage broker",296,14,Los_296_13
4,Los Angeles,"Loan modification,collection,foreclosure",296,14,Los_296_12

In [171]:
req_cols=['City','Issue','Customer_id']
customer_data_set=customer_data_set[req_cols]
customer_data_set.head()

          City                                     Issue Customer_id
0  Los Angeles  Loan modification,collection,foreclosure  Los_296_13
1  Los Angeles  Loan servicing, payments, escrow account   Los_296_9
2  Los Angeles  Loan modification,collection,foreclosure   Los_296_7
3  Los Angeles  Application, originator, mortgage broker  Los_296_13
4  Los Angeles  Loan modification,collection,foreclosure  Los_296_12

In [172]:
customer_data_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1533 entries, 0 to 1532
Data columns (total 3 columns):
City           1533 non-null object
Issue          1533 non-null object
Customer_id    1533 non-null object
dtypes: object(3)
memory usage: 36.0+ KB

In [173]:
customer_data_set['Customer_id'].value_counts(dropna=False)

Chi_227_2     31
Mia_513_12    30
Mia_513_15    28
Los_296_9     28
Bro_231_5     27
Atl_266_6     26
Bro_231_3     26
Chi_227_11    26
Los_296_3     25
Mia_513_21    25
Mia_513_20    25
Mia_513_6     24
Los_296_14    24
Mia_513_3     24
Bro_231_1     23
Bro_231_2     23
Mia_513_16    23
Mia_513_18    23
Mia_513_24    23
Atl_266_10    23
Bro_231_11    23
Atl_266_12    23
Atl_266_7     23
Atl_266_9     22
Mia_513_5     22
Los_296_5     22
Chi_227_1     22
Los_296_4     22
Los_296_1     22
Mia_513_4     22
              ..
Bro_231_8     20
Los_296_10    20
Mia_513_19    20
Atl_266_8     20
Bro_231_6     19
Chi_227_6     19
Atl_266_3     19
Los_296_13    19
Mia_513_1     19
Los_296_2     19
Mia_513_14    18
Los_296_7     18
Mia_513_10    18
Chi_227_3     18
Mia_513_25    18
Atl_266_1     17
Mia_513_17    17
Chi_227_4     16
Chi_227_7     16
Atl_266_2     16
Mia_513_7     16
Bro_231_10    16
Chi_227_10    16
Los_296_12    15
Mia_513_13    15
Atl_266_11    15
Mia_513_11    15
Mia_513_9     13
Bro_231_9     13
Mia_513_2     12
Name: Customer_id, Length: 74, dtype: int64