[View in Colaboratory](https://colab.research.google.com/github/SravyaSpandana/Complaints_Framework/blob/master/ComplaintCustomerDataset_Sravya.ipynb)

In [0]:
# IMPORTING NECESSARY PACKAGES
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [0]:
!apt-get install -y -qq software-properties-common python-software-properties module-init-tools
!add-apt-repository -y ppa:alessandro-strada/ppa 2>&1 > /dev/null
!apt-get update -qq 2>&1 > /dev/null
!apt-get -y install -qq google-drive-ocamlfuse fuse
from google.colab import auth
auth.authenticate_user()
from oauth2client.client import GoogleCredentials
creds = GoogleCredentials.get_application_default()
import getpass
!google-drive-ocamlfuse -headless -id={creds.client_id} -secret={creds.client_secret} < /dev/null 2>&1 | grep URL
vcode = getpass.getpass()
!echo {vcode} | google-drive-ocamlfuse -headless -id={creds.client_id} -secret={creds.client_secret}

In [0]:
!mkdir -p drive
!google-drive-ocamlfuse drive

In [0]:
data = pd.read_csv("drive/Complaints_Dataset/Complaints_2018_09_01_Cities_CSV.csv")

In [4]:
data = data[data.Company == 'WELLS FARGO & COMPANY']
data.head()
data.index = range(data.shape[0])
data.head()

,Date received,Product,Sub-product,Issue,Sub-issue,Consumer complaint narrative,Company public response,Company,State,ZIP code,Tags,Consumer consent provided?,Submitted via,Date sent to company,Company response to consumer,Timely response?,Consumer disputed?,Complaint ID,City
0,02/23/13,Mortgage,Conventional fixed mortgage,"Loan modification,collection,foreclosure",NaN,NaN,NaN,WELLS FARGO & COMPANY,NY,11208,NaN,NaN,Web,02/25/13,Closed with explanation,Yes,No,327961,Brooklyn
1,05-03-13,Mortgage,Other mortgage,"Loan modification,collection,foreclosure",NaN,NaN,NaN,WELLS FARGO & COMPANY,FL,33172,NaN,NaN,Referral,05-06-13,Closed with explanation,Yes,Yes,398576,Miami
2,05/21/14,Mortgage,Conventional fixed mortgage,"Loan modification,collection,foreclosure",NaN,NaN,NaN,WELLS FARGO & COMPANY,FL,33186,NaN,NaN,Web,05/21/14,Closed with explanation,Yes,No,862130,Miami
3,08/22/16,Mortgage,Other mortgage,"Loan modification,collection,foreclosure",NaN,NaN,Company has responded to the consumer and the ...,WELLS FARGO & COMPANY,FL,33126,NaN,NaN,Referral,08/24/16,Closed with explanation,Yes,No,2075078,Miami
4,09/17/13,Mortgage,Other mortgage,"Loan modification,collection,foreclosure",NaN,NaN,NaN,WELLS FARGO & COMPANY,IL,60610,NaN,NaN,Postal mail,09/17/13,Closed with explanation,Yes,No,530168,Chicago

In [5]:
req_cols = ['Date received','Issue','City','Submitted via', 'Date sent to company','Company response to consumer']
data.columns
data_req = data[req_cols]
data_req['Issue'].value_counts(dropna=False)

Loan modification,collection,foreclosure                       902
Loan servicing, payments, escrow account                       284
Application, originator, mortgage broker                        97
Other                                                           72
Struggling to pay mortgage                                      56
Credit decision / Underwriting                                  38
Trouble during payment process                                  37
Settlement process and costs                                    35
Applying for a mortgage or refinancing an existing mortgage      4
Closing on a mortgage                                            4
Applying for a mortgage                                          3
Unable to get your credit report or credit score                 1
Name: Issue, dtype: int64

In [6]:
data_req['City'].value_counts(dropna=False)

Miami          513
Los Angeles    296
Atlanta        266
Brooklyn       231
Chicago        227
Name: City, dtype: int64

In [7]:
data_req['Submitted via'].value_counts(dropna=False)
data_req['Company response to consumer'].value_counts(dropna=False)

Closed with explanation            1368
Closed with non-monetary relief      67
Closed without relief                56
Closed with monetary relief          26
Closed                               12
In progress                           3
Untimely response                     1
Name: Company response to consumer, dtype: int64

In [8]:
data_req['Date received'].value_counts(dropna=False)

01/14/16    8
06/26/14    7
01/15/13    6
09-05-13    6
01/17/13    5
04/16/14    5
01-09-13    5
02-01-16    5
01/24/13    5
03-09-16    5
05/21/14    5
04/22/13    5
08/28/14    5
05-03-13    5
02/14/13    5
07/19/13    5
02/19/14    4
02/27/15    4
12/17/13    4
07-09-15    4
07/22/13    4
01/29/13    4
11-08-12    4
09-10-14    4
05/22/17    4
01-08-13    4
03/29/13    4
04/15/13    4
02/25/15    4
07/27/16    4
           ..
05/14/12    1
02-12-18    1
06-05-13    1
12-06-16    1
09-09-14    1
08-05-13    1
08/21/15    1
09/22/15    1
03-12-18    1
05/20/14    1
06-01-16    1
04-07-15    1
01/13/12    1
03-09-13    1
02/24/16    1
07-10-13    1
12-02-13    1
09-12-17    1
03/18/15    1
06-02-15    1
11/17/16    1
10/26/16    1
09-07-17    1
03-03-16    1
07/23/13    1
03/24/14    1
11/17/17    1
08/29/12    1
08/20/13    1
05/26/13    1
Name: Date received, Length: 972, dtype: int64

In [9]:
data_req['Date sent to company'].value_counts(dropna=False)

07-01-14    7
05-06-13    6
01-11-13    6
04/23/13    6
07/24/12    6
09-06-13    6
02-07-14    5
10/15/13    5
07/23/13    5
11/27/13    5
09/22/14    5
03/22/13    5
01/15/16    5
02/25/15    5
05/22/17    5
01/25/13    5
11/25/15    4
07/16/13    4
12/13/12    4
07-11-12    4
02/13/13    4
12/21/12    4
10/23/14    4
02/20/15    4
01/29/13    4
12/15/14    4
05/19/16    4
07/22/13    4
03-10-14    4
01-08-14    4
           ..
04/30/14    1
12-07-15    1
01/30/14    1
09/14/16    1
05-08-18    1
02-10-14    1
04-10-14    1
12-12-13    1
02/14/14    1
11/22/16    1
01/22/15    1
11/18/16    1
02/19/14    1
07-11-13    1
06/22/16    1
09-12-16    1
05/22/12    1
05/13/16    1
12/16/15    1
05/17/13    1
12-11-17    1
01/17/14    1
08/16/14    1
02/14/12    1
06-06-13    1
11/20/12    1
08/17/17    1
06/20/17    1
10/16/12    1
05/14/12    1
Name: Date sent to company, Length: 941, dtype: int64

In [11]:
data_req.size

9198

In [12]:
data_req=data_req.dropna(how='any')  
data_req.head()

,Date received,Issue,City,Submitted via,Date sent to company,Company response to consumer
0,02/23/13,"Loan modification,collection,foreclosure",Brooklyn,Web,02/25/13,Closed with explanation
1,05-03-13,"Loan modification,collection,foreclosure",Miami,Referral,05-06-13,Closed with explanation
2,05/21/14,"Loan modification,collection,foreclosure",Miami,Web,05/21/14,Closed with explanation
3,08/22/16,"Loan modification,collection,foreclosure",Miami,Referral,08/24/16,Closed with explanation
4,09/17/13,"Loan modification,collection,foreclosure",Chicago,Postal mail,09/17/13,Closed with explanation

In [13]:
data_req_new = data_req.copy()
len(data_req_new)

1533

In [0]:
data_req_new['CustID'] = ""

In [0]:
Customer_grouping=0
CustomerID_Initializer=1
Total_Customers=len(data_req_new)
Random_incrementer = 100
while Customer_grouping < Total_Customers:
  Customer_complaint = Customer_grouping
  CustomerID = 'Customer_ID_' + str(CustomerID_Initializer)
  for index in range(Customer_complaint, Customer_complaint+Random_incrementer):
    if index > Total_Customers:
      break
    data_req_new.at[index,'CustID'] = CustomerID
  
  Customer_grouping = index+1
  CustomerID_Initializer = CustomerID_Initializer + 1

In [0]:
path= r'drive/Complaints_Dataset/'
data_req_new.to_csv(path+'ComplaintsCustomerDataSet_FinalCustomerID.csv', sep=',', encoding='utf-8')