[View in Colaboratory](https://colab.research.google.com/github/SravyaSpandana/Complaints_Framework/blob/master/Complaints_Framework_Model_Sravya_WithoutDummies.ipynb)

In [0]:
# IMPORTING NECESSARY PACKAGES
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [0]:
4/NADN302r4bnc7hQBO7DLbwIkZwgXL2iEngwVZVrGGsRFT_z9PjTSPSs!apt-get install -y -qq software-properties-common python-software-properties module-init-tools
!add-apt-repository -y ppa:alessandro-strada/ppa 2>&1 > /dev/null
!apt-get update -qq 2>&1 > /dev/null
!apt-get -y install -qq google-drive-ocamlfuse fuse
from google.colab import auth
auth.authenticate_user()
from oauth2client.client import GoogleCredentials
creds = GoogleCredentials.get_application_default()
import getpass
!google-drive-ocamlfuse -headless -id={creds.client_id} -secret={creds.client_secret} < /dev/null 2>&1 | grep URL
vcode = getpass.getpass()
!echo {vcode} | google-drive-ocamlfuse -headless -id={creds.client_id} -secret={creds.client_secret}

In [0]:
!mkdir -p drive
!google-drive-ocamlfuse drive

In [0]:
data = pd.read_csv("drive/Complaints_Dataset/complaints-2018-07-20_02_20.csv")

In [5]:
data.head()

,Date received,Product,Sub-product,Issue,Sub-issue,Consumer complaint narrative,Company public response,Company,State,ZIP code,Tags,Consumer consent provided?,Submitted via,Date sent to company,Company response to consumer,Timely response?,Consumer disputed?,Complaint ID
0,02/05/13,Mortgage,FHA mortgage,"Loan servicing, payments, escrow account",NaN,NaN,NaN,"BAYVIEW LOAN SERVICING, LLC",MA,02151,NaN,NaN,Web,02/06/13,Closed with explanation,Yes,No,301664
1,05/15/17,Mortgage,Other type of mortgage,Trouble during payment process,NaN,NaN,Company has responded to the consumer and the ...,BMO HARRIS BANK NATIONAL ASSOCIATION,IL,60165,NaN,NaN,Fax,05/17/17,Closed with explanation,Yes,NaN,2484441
2,09/24/14,Mortgage,Other mortgage,"Loan modification,collection,foreclosure",NaN,NaN,NaN,Ditech Financial LLC,FL,34209,NaN,NaN,Referral,10/01/14,Closed with explanation,Yes,Yes,1043621
3,11/06/15,Mortgage,Other mortgage,"Loan modification,collection,foreclosure",NaN,NaN,NaN,OCWEN LOAN SERVICING LLC,GA,30253,NaN,NaN,Referral,11/09/15,Closed with explanation,Yes,No,1643449
4,03/08/12,Mortgage,Conventional fixed mortgage,"Loan modification,collection,foreclosure",NaN,NaN,NaN,"CITIBANK, N.A.",NJ,07438,NaN,NaN,Referral,03/08/12,Untimely response,No,No,32218

In [0]:
data = data[data.Company == 'WELLS FARGO & COMPANY']

In [7]:
data.head()

,Date received,Product,Sub-product,Issue,Sub-issue,Consumer complaint narrative,Company public response,Company,State,ZIP code,Tags,Consumer consent provided?,Submitted via,Date sent to company,Company response to consumer,Timely response?,Consumer disputed?,Complaint ID
17,12/05/16,Mortgage,FHA mortgage,"Loan modification,collection,foreclosure",NaN,NaN,Company has responded to the consumer and the ...,WELLS FARGO & COMPANY,NJ,07106,NaN,Consent not provided,Web,12/05/16,Closed with explanation,Yes,No,2236348
20,01/09/13,Mortgage,Other mortgage,"Loan modification,collection,foreclosure",NaN,NaN,NaN,WELLS FARGO & COMPANY,NY,11550,NaN,NaN,Referral,01/11/13,Closed with explanation,Yes,No,225262
24,06/02/14,Mortgage,Other mortgage,"Application, originator, mortgage broker",NaN,NaN,NaN,WELLS FARGO & COMPANY,VA,20109,NaN,NaN,Web,06/02/14,Closed with explanation,Yes,No,876185
34,03/18/14,Mortgage,Reverse mortgage,Settlement process and costs,NaN,NaN,NaN,WELLS FARGO & COMPANY,CA,93311,NaN,NaN,Web,03/17/14,Closed with explanation,Yes,No,763623
37,08/06/13,Mortgage,FHA mortgage,"Application, originator, mortgage broker",NaN,NaN,NaN,WELLS FARGO & COMPANY,SD,57106,NaN,NaN,Web,08/07/13,Closed with explanation,Yes,Yes,481692

In [8]:
data.index = range(data.shape[0])
data.head()

,Date received,Product,Sub-product,Issue,Sub-issue,Consumer complaint narrative,Company public response,Company,State,ZIP code,Tags,Consumer consent provided?,Submitted via,Date sent to company,Company response to consumer,Timely response?,Consumer disputed?,Complaint ID
0,12/05/16,Mortgage,FHA mortgage,"Loan modification,collection,foreclosure",NaN,NaN,Company has responded to the consumer and the ...,WELLS FARGO & COMPANY,NJ,07106,NaN,Consent not provided,Web,12/05/16,Closed with explanation,Yes,No,2236348
1,01/09/13,Mortgage,Other mortgage,"Loan modification,collection,foreclosure",NaN,NaN,NaN,WELLS FARGO & COMPANY,NY,11550,NaN,NaN,Referral,01/11/13,Closed with explanation,Yes,No,225262
2,06/02/14,Mortgage,Other mortgage,"Application, originator, mortgage broker",NaN,NaN,NaN,WELLS FARGO & COMPANY,VA,20109,NaN,NaN,Web,06/02/14,Closed with explanation,Yes,No,876185
3,03/18/14,Mortgage,Reverse mortgage,Settlement process and costs,NaN,NaN,NaN,WELLS FARGO & COMPANY,CA,93311,NaN,NaN,Web,03/17/14,Closed with explanation,Yes,No,763623
4,08/06/13,Mortgage,FHA mortgage,"Application, originator, mortgage broker",NaN,NaN,NaN,WELLS FARGO & COMPANY,SD,57106,NaN,NaN,Web,08/07/13,Closed with explanation,Yes,Yes,481692

In [9]:

req_cols = ['Date received','Issue','State','Submitted via', 'Date sent to company','Company response to consumer']
data.columns

Index(['Date received', 'Product', 'Sub-product', 'Issue', 'Sub-issue',
       'Consumer complaint narrative', 'Company public response', 'Company',
       'State', 'ZIP code', 'Tags', 'Consumer consent provided?',
       'Submitted via', 'Date sent to company', 'Company response to consumer',
       'Timely response?', 'Consumer disputed?', 'Complaint ID'],
      dtype='object')

In [10]:
data.columns

Index(['Date received', 'Product', 'Sub-product', 'Issue', 'Sub-issue',
       'Consumer complaint narrative', 'Company public response', 'Company',
       'State', 'ZIP code', 'Tags', 'Consumer consent provided?',
       'Submitted via', 'Date sent to company', 'Company response to consumer',
       'Timely response?', 'Consumer disputed?', 'Complaint ID'],
      dtype='object')

In [0]:
data_req = data[req_cols]

In [12]:
data_req.shape

(34481, 6)

In [13]:
data_req.columns

Index(['Date received', 'Issue', 'State', 'Submitted via',
       'Date sent to company', 'Company response to consumer'],
      dtype='object')

In [14]:
data_req['Date received']=pd.to_datetime(data_req['Date received'])
data_req['Date sent to company']=pd.to_datetime(data_req['Date sent to company'])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [15]:
data_req.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34481 entries, 0 to 34480
Data columns (total 6 columns):
Date received                   34481 non-null datetime64[ns]
Issue                           34481 non-null object
State                           34113 non-null object
Submitted via                   34481 non-null object
Date sent to company            34481 non-null datetime64[ns]
Company response to consumer    34481 non-null object
dtypes: datetime64[ns](2), object(4)
memory usage: 1.6+ MB

In [16]:
data_req['Time Difference'] = (data_req['Date sent to company']-data_req['Date received']).astype('timedelta64[s]')
data_req.loc[data_req['Time Difference'] < 0, 'Time Difference'] = 0
data_req.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:537: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

,Date received,Issue,State,Submitted via,Date sent to company,Company response to consumer,Time Difference
0,2016-12-05,"Loan modification,collection,foreclosure",NJ,Web,2016-12-05,Closed with explanation,0.0
1,2013-01-09,"Loan modification,collection,foreclosure",NY,Referral,2013-01-11,Closed with explanation,172800.0
2,2014-06-02,"Application, originator, mortgage broker",VA,Web,2014-06-02,Closed with explanation,0.0
3,2014-03-18,Settlement process and costs,CA,Web,2014-03-17,Closed with explanation,0.0
4,2013-08-06,"Application, originator, mortgage broker",SD,Web,2013-08-07,Closed with explanation,86400.0

In [17]:
from sklearn.preprocessing import MinMaxScaler
values=data_req['Time Difference'].values.reshape((len(data_req['Time Difference']), 1))
# train the normalization
scaler = MinMaxScaler(feature_range=(0, 1))
scaler = scaler.fit(values)
# normalize the dataset
data_req['Time Difference'] = scaler.transform(values)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

In [18]:
data_req.head()

,Date received,Issue,State,Submitted via,Date sent to company,Company response to consumer,Time Difference
0,2016-12-05,"Loan modification,collection,foreclosure",NJ,Web,2016-12-05,Closed with explanation,0.000000
1,2013-01-09,"Loan modification,collection,foreclosure",NY,Referral,2013-01-11,Closed with explanation,0.003846
2,2014-06-02,"Application, originator, mortgage broker",VA,Web,2014-06-02,Closed with explanation,0.000000
3,2014-03-18,Settlement process and costs,CA,Web,2014-03-17,Closed with explanation,0.000000
4,2013-08-06,"Application, originator, mortgage broker",SD,Web,2013-08-07,Closed with explanation,0.001923

In [0]:
data_req=data_req.drop(data_req.columns[[0, 4]], axis=1)
data_req = data_req[data_req.State.isin(['AK','AL','AR','AZ','CA','CO','CT','DC','DE','FL','GA','HI','IA','ID','IL','IN','KS','KY','LA','MA','MD','ME','MI','MN','MO','MS','MT','NC','ND','NE','NH','NJ','NM','NV','NY','OH','OK','OR','PA','PR','RI','SC','SD','TN','TX','UT','VA','VT','WA','WI','WV','WY'])]

data_req.info()

In [20]:
data_req.head()

,Issue,State,Submitted via,Company response to consumer,Time Difference
0,"Loan modification,collection,foreclosure",NJ,Web,Closed with explanation,0.000000
1,"Loan modification,collection,foreclosure",NY,Referral,Closed with explanation,0.003846
2,"Application, originator, mortgage broker",VA,Web,Closed with explanation,0.000000
3,Settlement process and costs,CA,Web,Closed with explanation,0.000000
4,"Application, originator, mortgage broker",SD,Web,Closed with explanation,0.001923

In [21]:
data_req['Issue'].value_counts(dropna=False)

Loan modification,collection,foreclosure                                            17187
Loan servicing, payments, escrow account                                             7955
Application, originator, mortgage broker                                             2554
Struggling to pay mortgage                                                           1651
Trouble during payment process                                                       1406
Settlement process and costs                                                         1081
Credit decision / Underwriting                                                        858
Other                                                                                 708
Applying for a mortgage or refinancing an existing mortgage                           301
Closing on a mortgage                                                                 225
Incorrect information on your report                                                   75
Applying for a mortgage                                                                53
Problem with a credit reporting company's investigation into an existing problem       20
Improper use of your report                                                             4
Unable to get your credit report or credit score                                        3
Name: Issue, dtype: int64

In [22]:
data_req['State'].value_counts(dropna=False)

CA    6641
FL    3580
NY    2429
NJ    2159
GA    1662
TX    1628
MD    1355
PA    1293
VA    1092
NC    1050
IL    1041
WA     797
AZ     744
OH     660
MA     619
MI     531
CO     522
MN     517
OR     465
SC     389
CT     388
NV     364
MO     346
TN     331
WI     329
LA     257
IN     250
AL     248
UT     194
DC     184
DE     171
NH     159
KY     147
IA     132
NM     125
OK     124
HI     116
NE     112
ID     108
KS     108
AR     104
ME      96
MS      89
RI      87
AK      74
MT      59
WV      58
SD      43
VT      33
WY      33
ND      32
PR       6
Name: State, dtype: int64

In [23]:
data_req['Submitted via'].value_counts(dropna=False)

Web            18303
Referral       11262
Phone           1927
Postal mail     1842
Fax              727
Email             20
Name: Submitted via, dtype: int64

In [24]:
data_req['Company response to consumer'].value_counts(dropna=False)

Closed with explanation            29158
Closed without relief               1960
Closed with non-monetary relief     1622
Closed with monetary relief         1055
In progress                          161
Closed                                64
Closed with relief                    57
Untimely response                      4
Name: Company response to consumer, dtype: int64

In [26]:
data_req['Time Difference'].value_counts(dropna=False)

0.000000    13869
0.001923     6012
0.003846     3376
0.005769     2542
0.007692     2347
0.009615     2009
0.011538     1293
0.013462      832
0.015385      286
0.017308      142
0.019231      142
0.028846       95
0.025000       91
0.021154       85
0.023077       85
0.026923       68
0.032692       63
0.030769       43
0.036538       38
0.067308       36
0.042308       34
0.038462       32
0.040385       32
0.034615       30
0.055769       24
0.053846       24
0.044231       23
0.046154       22
0.069231       22
0.075000       22
            ...
0.317308        1
0.513462        1
0.269231        1
1.000000        1
0.690385        1
0.263462        1
0.298077        1
0.425000        1
0.176923        1
0.496154        1
0.494231        1
0.113462        1
0.390385        1
0.523077        1
0.250000        1
0.203846        1
0.253846        1
0.480769        1
0.484615        1
0.342308        1
0.557692        1
0.126923        1
0.225000        1
0.209615        1
0.142308        1
0.363462        1
0.401923        1
0.194231        1
0.169231        1
0.186538        1
Name: Time Difference, Length: 148, dtype: int64

In [0]:
data_req=data_req.dropna(how='any')

In [28]:
#data_req[:5]['Total Days'] / np.timedelta64(1, 's')
data_req.head()

,Issue,State,Submitted via,Company response to consumer,Time Difference
0,"Loan modification,collection,foreclosure",NJ,Web,Closed with explanation,0.000000
1,"Loan modification,collection,foreclosure",NY,Referral,Closed with explanation,0.003846
2,"Application, originator, mortgage broker",VA,Web,Closed with explanation,0.000000
3,Settlement process and costs,CA,Web,Closed with explanation,0.000000
4,"Application, originator, mortgage broker",SD,Web,Closed with explanation,0.001923

In [0]:
#data_req=data_req.drop(['Total Days'])
#del data_req['Total Days']
data_req.head()

In [29]:
!pip install kmodes

Requirement already satisfied: kmodes in /usr/local/lib/python3.6/dist-packages (0.9)
Requirement already satisfied: numpy>=1.10.4 in /usr/local/lib/python3.6/dist-packages (from kmodes) (1.14.5)
Requirement already satisfied: scipy>=0.13.3 in /usr/local/lib/python3.6/dist-packages (from kmodes) (0.19.1)
Requirement already satisfied: scikit-learn<0.20.0,>=0.19.0 in /usr/local/lib/python3.6/dist-packages (from kmodes) (0.19.2)

In [0]:
from kmodes.kprototypes import KPrototypes

In [0]:
km = KPrototypes(n_clusters=10, init='Huang', n_init=10, verbose=1)

In [37]:
#clusters = km.fit_predict(data_req_new)
clusters = km.fit_predict(data_req.as_matrix(), categorical=list(range(0,4)))

Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 1, iteration: 1/100, moves: 16644, ncost: 465.0998108967769
Run: 1, iteration: 2/100, moves: 1177, ncost: 465.09745774118716
Run: 1, iteration: 3/100, moves: 4, ncost: 465.097457662929
Run: 1, iteration: 4/100, moves: 0, ncost: 465.097457662929
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 2, iteration: 1/100, moves: 12212, ncost: 508.333202611444
Run: 2, iteration: 2/100, moves: 2447, ncost: 503.9261702446859
Run: 2, iteration: 3/100, moves: 419, ncost: 503.57734416595275
Run: 2, iteration: 4/100, moves: 129, ncost: 503.55920733987534
Run: 2, iteration: 5/100, moves: 4, ncost: 503.55920707937764
Run: 2, iteration: 6/100, moves: 0, ncost: 503.55920707937764
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 3, iteration: 1/100, moves: 14348, ncost: 464.20512780125506
Run: 3, iteration: 2/100, moves: 2822, ncost: 464.16977181226406
Run: 3, iteration: 3/100, moves: 747, ncost: 464.16923936097953
Run: 3, iteration: 4/100, moves: 65, ncost: 464.1692361669275
Run: 3, iteration: 5/100, moves: 0, ncost: 464.1692361669275
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 4, iteration: 1/100, moves: 7020, ncost: 466.54291667333547
Run: 4, iteration: 2/100, moves: 3228, ncost: 466.48717452539563
Run: 4, iteration: 3/100, moves: 371, ncost: 466.48303985640433
Run: 4, iteration: 4/100, moves: 1, ncost: 466.48303974318
Run: 4, iteration: 5/100, moves: 0, ncost: 466.48303974318
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 5, iteration: 1/100, moves: 12638, ncost: 493.6049691011233
Run: 5, iteration: 2/100, moves: 4066, ncost: 493.5761947620341
Run: 5, iteration: 3/100, moves: 2546, ncost: 474.6225667679139
Run: 5, iteration: 4/100, moves: 1229, ncost: 474.60718604292094
Run: 5, iteration: 5/100, moves: 902, ncost: 474.6003323277041
Run: 5, iteration: 6/100, moves: 82, ncost: 474.6002975015081
Run: 5, iteration: 7/100, moves: 0, ncost: 474.6002975015081
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 6, iteration: 1/100, moves: 10325, ncost: 480.2005023752215
Run: 6, iteration: 2/100, moves: 3173, ncost: 480.16231131187965
Run: 6, iteration: 3/100, moves: 495, ncost: 480.1597951202209
Run: 6, iteration: 4/100, moves: 86, ncost: 480.15902912974514
Run: 6, iteration: 5/100, moves: 29, ncost: 480.15896245475795
Run: 6, iteration: 6/100, moves: 4, ncost: 480.15896193322976
Run: 6, iteration: 7/100, moves: 0, ncost: 480.15896193322976
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 7, iteration: 1/100, moves: 10778, ncost: 491.6890516177433
Run: 7, iteration: 2/100, moves: 4850, ncost: 491.55130194868616
Run: 7, iteration: 3/100, moves: 688, ncost: 491.14452077556837
Run: 7, iteration: 4/100, moves: 1764, ncost: 487.5013716890054
Run: 7, iteration: 5/100, moves: 1193, ncost: 487.4980177171223
Run: 7, iteration: 6/100, moves: 123, ncost: 487.4979557814629
Run: 7, iteration: 7/100, moves: 0, ncost: 487.4979557814629
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 8, iteration: 1/100, moves: 11755, ncost: 497.84209013116345
Run: 8, iteration: 2/100, moves: 5525, ncost: 496.55318673633
Run: 8, iteration: 3/100, moves: 2028, ncost: 494.01013768620015
Run: 8, iteration: 4/100, moves: 101, ncost: 494.0101296134153
Run: 8, iteration: 5/100, moves: 0, ncost: 494.0101296134153
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 9, iteration: 1/100, moves: 8799, ncost: 479.13230578806224
Run: 9, iteration: 2/100, moves: 1432, ncost: 479.0961730940504
Run: 9, iteration: 3/100, moves: 53, ncost: 479.0857529196225
Run: 9, iteration: 4/100, moves: 33, ncost: 479.08456222506493
Run: 9, iteration: 5/100, moves: 4, ncost: 479.08455888240104
Run: 9, iteration: 6/100, moves: 0, ncost: 479.08455888240104
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 10, iteration: 1/100, moves: 7951, ncost: 484.9051344142957
Run: 10, iteration: 2/100, moves: 1863, ncost: 481.05547300883256
Run: 10, iteration: 3/100, moves: 766, ncost: 480.801715135689
Run: 10, iteration: 4/100, moves: 833, ncost: 480.7121223591202
Run: 10, iteration: 5/100, moves: 1156, ncost: 480.4833555166958
Run: 10, iteration: 6/100, moves: 168, ncost: 480.13441747097204
Run: 10, iteration: 7/100, moves: 793, ncost: 480.042551910507
Run: 10, iteration: 8/100, moves: 91, ncost: 479.73697379257374
Run: 10, iteration: 9/100, moves: 11, ncost: 479.73691451571403
Run: 10, iteration: 10/100, moves: 0, ncost: 479.73691451571403
Best run was number 3

In [38]:
from kmodes.kprototypes import KPrototypes
km = KPrototypes(n_clusters=10, init='Huang', n_init=5, verbose=1)
clusters = km.fit_predict(data_req.as_matrix(), categorical=list(range(0,4)))

Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 1, iteration: 1/100, moves: 13888, ncost: 451.16957165494426
Run: 1, iteration: 2/100, moves: 3800, ncost: 449.43089406263715
Run: 1, iteration: 3/100, moves: 285, ncost: 449.4062139988315
Run: 1, iteration: 4/100, moves: 872, ncost: 449.4038134378951
Run: 1, iteration: 5/100, moves: 1412, ncost: 449.4014470473898
Run: 1, iteration: 6/100, moves: 46, ncost: 449.40144407768554
Run: 1, iteration: 7/100, moves: 0, ncost: 449.40144407768554
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 2, iteration: 1/100, moves: 10919, ncost: 482.364251556276
Run: 2, iteration: 2/100, moves: 2477, ncost: 479.1805800662332
Run: 2, iteration: 3/100, moves: 139, ncost: 479.06608161889204
Run: 2, iteration: 4/100, moves: 5, ncost: 479.06608142000056
Run: 2, iteration: 5/100, moves: 0, ncost: 479.06608142000056
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 3, iteration: 1/100, moves: 10574, ncost: 486.4364596905532
Run: 3, iteration: 2/100, moves: 359, ncost: 486.4364499614029
Run: 3, iteration: 3/100, moves: 76, ncost: 486.4364499353164
Run: 3, iteration: 4/100, moves: 0, ncost: 486.4364499353164
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 4, iteration: 1/100, moves: 12108, ncost: 473.4506640639487
Run: 4, iteration: 2/100, moves: 2898, ncost: 469.17532347865114
Run: 4, iteration: 3/100, moves: 1364, ncost: 464.12040181436794
Run: 4, iteration: 4/100, moves: 2451, ncost: 463.7500225888972
Run: 4, iteration: 5/100, moves: 1230, ncost: 463.74619396207714
Run: 4, iteration: 6/100, moves: 123, ncost: 463.74275925938207
Run: 4, iteration: 7/100, moves: 1, ncost: 463.7422555786405
Run: 4, iteration: 8/100, moves: 0, ncost: 463.7422555786405
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 5, iteration: 1/100, moves: 12325, ncost: 474.6990524123297
Run: 5, iteration: 2/100, moves: 3930, ncost: 474.6663696310054
Run: 5, iteration: 3/100, moves: 173, ncost: 474.6657822503375
Run: 5, iteration: 4/100, moves: 0, ncost: 474.6657822503375
Best run was number 1

In [39]:
from kmodes.kprototypes import KPrototypes
km = KPrototypes(n_clusters=10, init='Huang', n_init=3, verbose=1)
clusters = km.fit_predict(data_req.as_matrix(), categorical=list(range(0,4)))

Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 1, iteration: 1/100, moves: 9863, ncost: 478.00267906942963
Run: 1, iteration: 2/100, moves: 2484, ncost: 477.9273320275577
Run: 1, iteration: 3/100, moves: 935, ncost: 477.92663566295926
Run: 1, iteration: 4/100, moves: 2, ncost: 477.92663565643204
Run: 1, iteration: 5/100, moves: 0, ncost: 477.92663565643204
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 2, iteration: 1/100, moves: 12500, ncost: 485.70207509632843
Run: 2, iteration: 2/100, moves: 3790, ncost: 480.19041921772236
Run: 2, iteration: 3/100, moves: 3129, ncost: 476.61361999864846
Run: 2, iteration: 4/100, moves: 78, ncost: 476.4986248447345
Run: 2, iteration: 5/100, moves: 3, ncost: 476.4939867288739
Run: 2, iteration: 6/100, moves: 0, ncost: 476.4939867288739
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 3, iteration: 1/100, moves: 14367, ncost: 481.29100239010944
Run: 3, iteration: 2/100, moves: 4764, ncost: 477.34807041060924
Run: 3, iteration: 3/100, moves: 578, ncost: 476.89803067598467
Run: 3, iteration: 4/100, moves: 829, ncost: 476.8832748618913
Run: 3, iteration: 5/100, moves: 60, ncost: 476.88325125990474
Run: 3, iteration: 6/100, moves: 0, ncost: 476.88325125990474
Best run was number 2

In [40]:
print(km.cluster_centroids_)

[array([[0.00414283],
       [0.00536698],
       [0.00054107],
       [0.41458791],
       [0.00202779],
       [0.00900918],
       [0.0131445 ],
       [0.00819402],
       [0.04367716],
       [0.00479989]]), array([['Loan modification,collection,foreclosure', 'NY', 'Web',
        'Closed with non-monetary relief'],
       ['Loan modification,collection,foreclosure', 'FL', 'Referral',
        'Closed with explanation'],
       ['Loan servicing, payments, escrow account', 'GA', 'Web',
        'Closed with explanation'],
       ['Loan modification,collection,foreclosure', 'CA', 'Web',
        'Closed with explanation'],
       ['Loan modification,collection,foreclosure', 'CA', 'Web',
        'Closed with explanation'],
       ['Other', 'FL', 'Postal mail', 'Closed with explanation'],
       ['Loan modification,collection,foreclosure', 'CA', 'Referral',
        'Closed with explanation'],
       ['Loan servicing, payments, escrow account', 'CA', 'Web',
        'Closed with explanation'],
       ['Loan servicing, payments, escrow account', 'AZ', 'Referral',
        'Closed with explanation'],
       ['Loan servicing, payments, escrow account', 'CA', 'Referral',
        'Closed with explanation']], dtype='<U40')]

In [0]:
clusters=clusters.reshape(34081,1)

In [0]:
class_cluster = pd.DataFrame(clusters,columns=['Class cluster'])

In [43]:
class_cluster.head()

   Class cluster
0              4
1              1
2              2
3              4
4              4

In [44]:
data_req.head()

,Issue,State,Submitted via,Company response to consumer,Time Difference
0,"Loan modification,collection,foreclosure",NJ,Web,Closed with explanation,0.000000
1,"Loan modification,collection,foreclosure",NY,Referral,Closed with explanation,0.003846
2,"Application, originator, mortgage broker",VA,Web,Closed with explanation,0.000000
3,Settlement process and costs,CA,Web,Closed with explanation,0.000000
4,"Application, originator, mortgage broker",SD,Web,Closed with explanation,0.001923

In [0]:
data_req = pd.concat([data_req,class_cluster],axis=1)

In [46]:
data_req.head()

,Issue,State,Submitted via,Company response to consumer,Time Difference,Class cluster
0,"Loan modification,collection,foreclosure",NJ,Web,Closed with explanation,0.000000,4.0
1,"Loan modification,collection,foreclosure",NY,Referral,Closed with explanation,0.003846,1.0
2,"Application, originator, mortgage broker",VA,Web,Closed with explanation,0.000000,2.0
3,Settlement process and costs,CA,Web,Closed with explanation,0.000000,4.0
4,"Application, originator, mortgage broker",SD,Web,Closed with explanation,0.001923,4.0