[View in Colaboratory](https://colab.research.google.com/github/SravyaSpandana/Complaints_Framework/blob/master/ComplaintsDataset_WithCustID_Sravya.ipynb)

In [0]:
# IMPORTING NECESSARY PACKAGES
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [2]:
!apt-get install -y -qq software-properties-common python-software-properties module-init-tools
!add-apt-repository -y ppa:alessandro-strada/ppa 2>&1 > /dev/null
!apt-get update -qq 2>&1 > /dev/null
!apt-get -y install -qq google-drive-ocamlfuse fuse
from google.colab import auth
auth.authenticate_user()
from oauth2client.client import GoogleCredentials
creds = GoogleCredentials.get_application_default()
import getpass
!google-drive-ocamlfuse -headless -id={creds.client_id} -secret={creds.client_secret} < /dev/null 2>&1 | grep URL
vcode = getpass.getpass()
!echo {vcode} | google-drive-ocamlfuse -headless -id={creds.client_id} -secret={creds.client_secret}

gpg: keybox '/tmp/tmpzql735dg/pubring.gpg' created
gpg: /tmp/tmpzql735dg/trustdb.gpg: trustdb created
gpg: key AD5F235DF639B041: public key "Launchpad PPA for Alessandro Strada" imported
gpg: Total number processed: 1
gpg:               imported: 1
Warning: apt-key output should not be parsed (stdout is not a terminal)
Please, open the following URL in a web browser: https://accounts.google.com/o/oauth2/auth?client_id=32555940559.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive&response_type=code&access_type=offline&approval_prompt=force
··········
Please, open the following URL in a web browser: https://accounts.google.com/o/oauth2/auth?client_id=32555940559.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive&response_type=code&access_type=offline&approval_prompt=force
Please enter the verification code: Access token retrieved correctly.

In [0]:
!mkdir -p drive
!google-drive-ocamlfuse drive

In [0]:
data = pd.read_csv("drive/Complaints_Dataset/Complaints_2018_09_01_Cities_CSV.csv")

In [6]:
data = data[data.Company == 'WELLS FARGO & COMPANY']
data.head()
data.index = range(data.shape[0])
data.head()

,Date received,Product,Sub-product,Issue,Sub-issue,Consumer complaint narrative,Company public response,Company,State,ZIP code,Tags,Consumer consent provided?,Submitted via,Date sent to company,Company response to consumer,Timely response?,Consumer disputed?,Complaint ID,City
0,02/23/13,Mortgage,Conventional fixed mortgage,"Loan modification,collection,foreclosure",NaN,NaN,NaN,WELLS FARGO & COMPANY,NY,11208,NaN,NaN,Web,02/25/13,Closed with explanation,Yes,No,327961,Brooklyn
1,05-03-13,Mortgage,Other mortgage,"Loan modification,collection,foreclosure",NaN,NaN,NaN,WELLS FARGO & COMPANY,FL,33172,NaN,NaN,Referral,05-06-13,Closed with explanation,Yes,Yes,398576,Miami
2,05/21/14,Mortgage,Conventional fixed mortgage,"Loan modification,collection,foreclosure",NaN,NaN,NaN,WELLS FARGO & COMPANY,FL,33186,NaN,NaN,Web,05/21/14,Closed with explanation,Yes,No,862130,Miami
3,08/22/16,Mortgage,Other mortgage,"Loan modification,collection,foreclosure",NaN,NaN,Company has responded to the consumer and the ...,WELLS FARGO & COMPANY,FL,33126,NaN,NaN,Referral,08/24/16,Closed with explanation,Yes,No,2075078,Miami
4,09/17/13,Mortgage,Other mortgage,"Loan modification,collection,foreclosure",NaN,NaN,NaN,WELLS FARGO & COMPANY,IL,60610,NaN,NaN,Postal mail,09/17/13,Closed with explanation,Yes,No,530168,Chicago

In [7]:
req_cols = ['Date received','Issue','City','Submitted via', 'Date sent to company','Company response to consumer']
data.columns
data_req = data[req_cols]
data_req['Issue'].value_counts(dropna=False)

Loan modification,collection,foreclosure                       902
Loan servicing, payments, escrow account                       284
Application, originator, mortgage broker                        97
Other                                                           72
Struggling to pay mortgage                                      56
Credit decision / Underwriting                                  38
Trouble during payment process                                  37
Settlement process and costs                                    35
Closing on a mortgage                                            4
Applying for a mortgage or refinancing an existing mortgage      4
Applying for a mortgage                                          3
Unable to get your credit report or credit score                 1
Name: Issue, dtype: int64

In [8]:
data_req['City'].value_counts(dropna=False)

Miami          513
Los Angeles    296
Atlanta        266
Brooklyn       231
Chicago        227
Name: City, dtype: int64

In [9]:
data_req['Submitted via'].value_counts(dropna=False)
data_req['Company response to consumer'].value_counts(dropna=False)

Closed with explanation            1368
Closed with non-monetary relief      67
Closed without relief                56
Closed with monetary relief          26
Closed                               12
In progress                           3
Untimely response                     1
Name: Company response to consumer, dtype: int64

In [0]:
data_req['Date received'].value_counts(dropna=False)

In [11]:
data_req['Date sent to company'].value_counts(dropna=False)

07-01-14    7
07/24/12    6
05-06-13    6
09-06-13    6
01-11-13    6
04/23/13    6
07/23/13    5
02-07-14    5
05/22/17    5
11/27/13    5
03/22/13    5
02/25/15    5
01/15/16    5
01/25/13    5
10/15/13    5
09/22/14    5
07/22/13    4
01/29/13    4
09/18/12    4
10/20/14    4
07/16/13    4
01/22/13    4
10/23/14    4
02/20/15    4
02/14/13    4
01/14/16    4
05/19/16    4
12/15/14    4
03-10-14    4
12/13/12    4
           ..
07-05-17    1
12/14/17    1
03/23/15    1
10/24/13    1
01/13/14    1
05/17/13    1
02/14/15    1
09-03-13    1
10-09-14    1
06-09-14    1
08/28/15    1
04-08-16    1
02-03-14    1
12/20/11    1
11/19/15    1
07-09-13    1
06/21/16    1
04-12-14    1
06/20/13    1
09/30/13    1
12-02-16    1
04/28/16    1
08/20/13    1
04-10-15    1
11/19/13    1
12/19/11    1
07/18/12    1
04/25/18    1
02/24/17    1
11/16/15    1
Name: Date sent to company, Length: 941, dtype: int64

In [13]:
data_req.size

9198

In [12]:
data_req=data_req.dropna(how='any')  
data_req.head()

,Date received,Issue,City,Submitted via,Date sent to company,Company response to consumer
0,02/23/13,"Loan modification,collection,foreclosure",Brooklyn,Web,02/25/13,Closed with explanation
1,05-03-13,"Loan modification,collection,foreclosure",Miami,Referral,05-06-13,Closed with explanation
2,05/21/14,"Loan modification,collection,foreclosure",Miami,Web,05/21/14,Closed with explanation
3,08/22/16,"Loan modification,collection,foreclosure",Miami,Referral,08/24/16,Closed with explanation
4,09/17/13,"Loan modification,collection,foreclosure",Chicago,Postal mail,09/17/13,Closed with explanation

In [114]:
data_req_new = data_req.copy()
len(data_req_new)

1533

In [115]:
data_req_new.size

9198

In [0]:
data_req_new['CustID'] = ""

In [0]:
path= r'drive/Complaints_Dataset/'
data_req_new.to_csv(path+'ComplaintsCustomerDataSet_FinalCustID.csv', sep=',', encoding='utf-8')

In [0]:
data_req_new.head()

In [117]:
len(data_req_new)

1533

In [0]:
x=0
y=1
data_size=len(data_req_new)
while x < (data_size):
  i = x
  Cid_name = 'CUST' + str(y)
  for z in range(i, i+100):
    if z > data_size:
      break
    data_req_new.at[z,'CustID'] = Cid_name
  
  x = z+1
  y = y + 1

In [93]:

len(data_req_new)

1600