[View in Colaboratory](https://colab.research.google.com/github/SravyaSpandana/Complaints_Framework/blob/master/Complaints_Framework_Model_Sravya_New.ipynb)

In [0]:
# IMPORTING NECESSARY PACKAGES
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [0]:
4/NADN302r4bnc7hQBO7DLbwIkZwgXL2iEngwVZVrGGsRFT_z9PjTSPSs!apt-get install -y -qq software-properties-common python-software-properties module-init-tools
!add-apt-repository -y ppa:alessandro-strada/ppa 2>&1 > /dev/null
!apt-get update -qq 2>&1 > /dev/null
!apt-get -y install -qq google-drive-ocamlfuse fuse
from google.colab import auth
auth.authenticate_user()
from oauth2client.client import GoogleCredentials
creds = GoogleCredentials.get_application_default()
import getpass
!google-drive-ocamlfuse -headless -id={creds.client_id} -secret={creds.client_secret} < /dev/null 2>&1 | grep URL
vcode = getpass.getpass()
!echo {vcode} | google-drive-ocamlfuse -headless -id={creds.client_id} -secret={creds.client_secret}

In [0]:
!mkdir -p drive
!google-drive-ocamlfuse drive

In [0]:
data = pd.read_csv("drive/Complaints_Dataset/complaints-2018-07-20_02_20.csv")

In [5]:
data.head()

,Date received,Product,Sub-product,Issue,Sub-issue,Consumer complaint narrative,Company public response,Company,State,ZIP code,Tags,Consumer consent provided?,Submitted via,Date sent to company,Company response to consumer,Timely response?,Consumer disputed?,Complaint ID
0,02/05/13,Mortgage,FHA mortgage,"Loan servicing, payments, escrow account",NaN,NaN,NaN,"BAYVIEW LOAN SERVICING, LLC",MA,02151,NaN,NaN,Web,02/06/13,Closed with explanation,Yes,No,301664
1,05/15/17,Mortgage,Other type of mortgage,Trouble during payment process,NaN,NaN,Company has responded to the consumer and the ...,BMO HARRIS BANK NATIONAL ASSOCIATION,IL,60165,NaN,NaN,Fax,05/17/17,Closed with explanation,Yes,NaN,2484441
2,09/24/14,Mortgage,Other mortgage,"Loan modification,collection,foreclosure",NaN,NaN,NaN,Ditech Financial LLC,FL,34209,NaN,NaN,Referral,10/01/14,Closed with explanation,Yes,Yes,1043621
3,11/06/15,Mortgage,Other mortgage,"Loan modification,collection,foreclosure",NaN,NaN,NaN,OCWEN LOAN SERVICING LLC,GA,30253,NaN,NaN,Referral,11/09/15,Closed with explanation,Yes,No,1643449
4,03/08/12,Mortgage,Conventional fixed mortgage,"Loan modification,collection,foreclosure",NaN,NaN,NaN,"CITIBANK, N.A.",NJ,07438,NaN,NaN,Referral,03/08/12,Untimely response,No,No,32218

In [0]:
data = data[data.Company == 'WELLS FARGO & COMPANY']

In [7]:
data.head()

,Date received,Product,Sub-product,Issue,Sub-issue,Consumer complaint narrative,Company public response,Company,State,ZIP code,Tags,Consumer consent provided?,Submitted via,Date sent to company,Company response to consumer,Timely response?,Consumer disputed?,Complaint ID
17,12/05/16,Mortgage,FHA mortgage,"Loan modification,collection,foreclosure",NaN,NaN,Company has responded to the consumer and the ...,WELLS FARGO & COMPANY,NJ,07106,NaN,Consent not provided,Web,12/05/16,Closed with explanation,Yes,No,2236348
20,01/09/13,Mortgage,Other mortgage,"Loan modification,collection,foreclosure",NaN,NaN,NaN,WELLS FARGO & COMPANY,NY,11550,NaN,NaN,Referral,01/11/13,Closed with explanation,Yes,No,225262
24,06/02/14,Mortgage,Other mortgage,"Application, originator, mortgage broker",NaN,NaN,NaN,WELLS FARGO & COMPANY,VA,20109,NaN,NaN,Web,06/02/14,Closed with explanation,Yes,No,876185
34,03/18/14,Mortgage,Reverse mortgage,Settlement process and costs,NaN,NaN,NaN,WELLS FARGO & COMPANY,CA,93311,NaN,NaN,Web,03/17/14,Closed with explanation,Yes,No,763623
37,08/06/13,Mortgage,FHA mortgage,"Application, originator, mortgage broker",NaN,NaN,NaN,WELLS FARGO & COMPANY,SD,57106,NaN,NaN,Web,08/07/13,Closed with explanation,Yes,Yes,481692

In [8]:
data.index = range(data.shape[0])
data.head()

,Date received,Product,Sub-product,Issue,Sub-issue,Consumer complaint narrative,Company public response,Company,State,ZIP code,Tags,Consumer consent provided?,Submitted via,Date sent to company,Company response to consumer,Timely response?,Consumer disputed?,Complaint ID
0,12/05/16,Mortgage,FHA mortgage,"Loan modification,collection,foreclosure",NaN,NaN,Company has responded to the consumer and the ...,WELLS FARGO & COMPANY,NJ,07106,NaN,Consent not provided,Web,12/05/16,Closed with explanation,Yes,No,2236348
1,01/09/13,Mortgage,Other mortgage,"Loan modification,collection,foreclosure",NaN,NaN,NaN,WELLS FARGO & COMPANY,NY,11550,NaN,NaN,Referral,01/11/13,Closed with explanation,Yes,No,225262
2,06/02/14,Mortgage,Other mortgage,"Application, originator, mortgage broker",NaN,NaN,NaN,WELLS FARGO & COMPANY,VA,20109,NaN,NaN,Web,06/02/14,Closed with explanation,Yes,No,876185
3,03/18/14,Mortgage,Reverse mortgage,Settlement process and costs,NaN,NaN,NaN,WELLS FARGO & COMPANY,CA,93311,NaN,NaN,Web,03/17/14,Closed with explanation,Yes,No,763623
4,08/06/13,Mortgage,FHA mortgage,"Application, originator, mortgage broker",NaN,NaN,NaN,WELLS FARGO & COMPANY,SD,57106,NaN,NaN,Web,08/07/13,Closed with explanation,Yes,Yes,481692

In [9]:

req_cols = ['Date received','Issue','State','Submitted via', 'Date sent to company','Company response to consumer']
data.columns

Index(['Date received', 'Product', 'Sub-product', 'Issue', 'Sub-issue',
       'Consumer complaint narrative', 'Company public response', 'Company',
       'State', 'ZIP code', 'Tags', 'Consumer consent provided?',
       'Submitted via', 'Date sent to company', 'Company response to consumer',
       'Timely response?', 'Consumer disputed?', 'Complaint ID'],
      dtype='object')

In [10]:
data.columns

Index(['Date received', 'Product', 'Sub-product', 'Issue', 'Sub-issue',
       'Consumer complaint narrative', 'Company public response', 'Company',
       'State', 'ZIP code', 'Tags', 'Consumer consent provided?',
       'Submitted via', 'Date sent to company', 'Company response to consumer',
       'Timely response?', 'Consumer disputed?', 'Complaint ID'],
      dtype='object')

In [0]:
data_req = data[req_cols]

In [12]:
data_req.shape

(34481, 6)

In [13]:
data_req.columns

Index(['Date received', 'Issue', 'State', 'Submitted via',
       'Date sent to company', 'Company response to consumer'],
      dtype='object')

In [14]:
data_req['Date received']=pd.to_datetime(data_req['Date received'])
data_req['Date sent to company']=pd.to_datetime(data_req['Date sent to company'])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [15]:
data_req.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34481 entries, 0 to 34480
Data columns (total 6 columns):
Date received                   34481 non-null datetime64[ns]
Issue                           34481 non-null object
State                           34113 non-null object
Submitted via                   34481 non-null object
Date sent to company            34481 non-null datetime64[ns]
Company response to consumer    34481 non-null object
dtypes: datetime64[ns](2), object(4)
memory usage: 1.6+ MB

In [16]:
data_req['Time Difference'] = (data_req['Date sent to company']-data_req['Date received']).astype('timedelta64[s]')
data_req.loc[data_req['Time Difference'] < 0, 'Time Difference'] = 0
data_req.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:537: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

,Date received,Issue,State,Submitted via,Date sent to company,Company response to consumer,Time Difference
0,2016-12-05,"Loan modification,collection,foreclosure",NJ,Web,2016-12-05,Closed with explanation,0.0
1,2013-01-09,"Loan modification,collection,foreclosure",NY,Referral,2013-01-11,Closed with explanation,172800.0
2,2014-06-02,"Application, originator, mortgage broker",VA,Web,2014-06-02,Closed with explanation,0.0
3,2014-03-18,Settlement process and costs,CA,Web,2014-03-17,Closed with explanation,0.0
4,2013-08-06,"Application, originator, mortgage broker",SD,Web,2013-08-07,Closed with explanation,86400.0

In [17]:
from sklearn.preprocessing import MinMaxScaler
values=data_req['Time Difference'].values.reshape((len(data_req['Time Difference']), 1))
# train the normalization
scaler = MinMaxScaler(feature_range=(0, 1))
scaler = scaler.fit(values)
# normalize the dataset
data_req['Time Difference'] = scaler.transform(values)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

In [18]:
data_req.head()

,Date received,Issue,State,Submitted via,Date sent to company,Company response to consumer,Time Difference
0,2016-12-05,"Loan modification,collection,foreclosure",NJ,Web,2016-12-05,Closed with explanation,0.000000
1,2013-01-09,"Loan modification,collection,foreclosure",NY,Referral,2013-01-11,Closed with explanation,0.003846
2,2014-06-02,"Application, originator, mortgage broker",VA,Web,2014-06-02,Closed with explanation,0.000000
3,2014-03-18,Settlement process and costs,CA,Web,2014-03-17,Closed with explanation,0.000000
4,2013-08-06,"Application, originator, mortgage broker",SD,Web,2013-08-07,Closed with explanation,0.001923

In [19]:
data_req=data_req.drop(data_req.columns[[0, 4]], axis=1)
data_req = data_req[data_req.State.isin(['AK','AL','AR','AZ','CA','CO','CT','DC','DE','FL','GA','HI','IA','ID','IL','IN','KS','KY','LA','MA','MD','ME','MI','MN','MO','MS','MT','NC','ND','NE','NH','NJ','NM','NV','NY','OH','OK','OR','PA','PR','RI','SC','SD','TN','TX','UT','VA','VT','WA','WI','WV','WY'])]

data_req.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34081 entries, 0 to 34480
Data columns (total 5 columns):
Issue                           34081 non-null object
State                           34081 non-null object
Submitted via                   34081 non-null object
Company response to consumer    34081 non-null object
Time Difference                 34081 non-null float64
dtypes: float64(1), object(4)
memory usage: 1.6+ MB

In [20]:
data_req.head()

,Issue,State,Submitted via,Company response to consumer,Time Difference
0,"Loan modification,collection,foreclosure",NJ,Web,Closed with explanation,0.000000
1,"Loan modification,collection,foreclosure",NY,Referral,Closed with explanation,0.003846
2,"Application, originator, mortgage broker",VA,Web,Closed with explanation,0.000000
3,Settlement process and costs,CA,Web,Closed with explanation,0.000000
4,"Application, originator, mortgage broker",SD,Web,Closed with explanation,0.001923

In [21]:
data_req['Issue'].value_counts(dropna=False)

Loan modification,collection,foreclosure                                            17187
Loan servicing, payments, escrow account                                             7955
Application, originator, mortgage broker                                             2554
Struggling to pay mortgage                                                           1651
Trouble during payment process                                                       1406
Settlement process and costs                                                         1081
Credit decision / Underwriting                                                        858
Other                                                                                 708
Applying for a mortgage or refinancing an existing mortgage                           301
Closing on a mortgage                                                                 225
Incorrect information on your report                                                   75
Applying for a mortgage                                                                53
Problem with a credit reporting company's investigation into an existing problem       20
Improper use of your report                                                             4
Unable to get your credit report or credit score                                        3
Name: Issue, dtype: int64

In [22]:
data_req['State'].value_counts(dropna=False)

CA    6641
FL    3580
NY    2429
NJ    2159
GA    1662
TX    1628
MD    1355
PA    1293
VA    1092
NC    1050
IL    1041
WA     797
AZ     744
OH     660
MA     619
MI     531
CO     522
MN     517
OR     465
SC     389
CT     388
NV     364
MO     346
TN     331
WI     329
LA     257
IN     250
AL     248
UT     194
DC     184
DE     171
NH     159
KY     147
IA     132
NM     125
OK     124
HI     116
NE     112
ID     108
KS     108
AR     104
ME      96
MS      89
RI      87
AK      74
MT      59
WV      58
SD      43
VT      33
WY      33
ND      32
PR       6
Name: State, dtype: int64

In [23]:
data_req['Submitted via'].value_counts(dropna=False)

Web            18303
Referral       11262
Phone           1927
Postal mail     1842
Fax              727
Email             20
Name: Submitted via, dtype: int64

In [24]:
data_req['Company response to consumer'].value_counts(dropna=False)

Closed with explanation            29158
Closed without relief               1960
Closed with non-monetary relief     1622
Closed with monetary relief         1055
In progress                          161
Closed                                64
Closed with relief                    57
Untimely response                      4
Name: Company response to consumer, dtype: int64

In [25]:
data_req['Time Difference'].value_counts(dropna=False)

0.000000    13869
0.001923     6012
0.003846     3376
0.005769     2542
0.007692     2347
0.009615     2009
0.011538     1293
0.013462      832
0.015385      286
0.017308      142
0.019231      142
0.028846       95
0.025000       91
0.021154       85
0.023077       85
0.026923       68
0.032692       63
0.030769       43
0.036538       38
0.067308       36
0.042308       34
0.038462       32
0.040385       32
0.034615       30
0.055769       24
0.053846       24
0.044231       23
0.046154       22
0.069231       22
0.075000       22
            ...
0.317308        1
0.513462        1
0.269231        1
1.000000        1
0.690385        1
0.263462        1
0.298077        1
0.425000        1
0.176923        1
0.496154        1
0.494231        1
0.113462        1
0.390385        1
0.523077        1
0.250000        1
0.203846        1
0.253846        1
0.480769        1
0.484615        1
0.342308        1
0.557692        1
0.126923        1
0.225000        1
0.209615        1
0.142308        1
0.363462        1
0.401923        1
0.194231        1
0.169231        1
0.186538        1
Name: Time Difference, Length: 148, dtype: int64

In [0]:
data_req=data_req.dropna(how='any')

In [27]:
#data_req[:5]['Total Days'] / np.timedelta64(1, 's')
data_req.head()

,Issue,State,Submitted via,Company response to consumer,Time Difference
0,"Loan modification,collection,foreclosure",NJ,Web,Closed with explanation,0.000000
1,"Loan modification,collection,foreclosure",NY,Referral,Closed with explanation,0.003846
2,"Application, originator, mortgage broker",VA,Web,Closed with explanation,0.000000
3,Settlement process and costs,CA,Web,Closed with explanation,0.000000
4,"Application, originator, mortgage broker",SD,Web,Closed with explanation,0.001923

In [0]:
#data_req=data_req.drop(['Total Days'])
#del data_req['Total Days']
data_req.head()

In [28]:
dumy=pd.get_dummies(data_req['Issue'])
dumy.head()

,"Application, originator, mortgage broker",Applying for a mortgage,Applying for a mortgage or refinancing an existing mortgage,Closing on a mortgage,Credit decision / Underwriting,Improper use of your report,Incorrect information on your report,"Loan modification,collection,foreclosure","Loan servicing, payments, escrow account",Other,Problem with a credit reporting company's investigation into an existing problem,Settlement process and costs,Struggling to pay mortgage,Trouble during payment process,Unable to get your credit report or credit score
0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
4,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [29]:

data_req_new = pd.concat([data_req,dumy],axis=1)
data_req_new.shape

(34081, 20)

In [30]:
dumy=pd.get_dummies(data_req['State'])
dumy.head()

,AK,AL,AR,AZ,CA,CO,CT,DC,DE,FL,...,SD,TN,TX,UT,VA,VT,WA,WI,WV,WY
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0

In [31]:
data_req_new = pd.concat([data_req_new,dumy],axis=1)
data_req_new.shape

(34081, 72)

In [32]:
dumy=pd.get_dummies(data_req['Submitted via'])
dumy.head()

   Email  Fax  Phone  Postal mail  Referral  Web
0      0    0      0            0         0    1
1      0    0      0            0         1    0
2      0    0      0            0         0    1
3      0    0      0            0         0    1
4      0    0      0            0         0    1

In [33]:
data_req_new = pd.concat([data_req_new,dumy],axis=1)
data_req_new.shape

(34081, 78)

In [34]:
dumy=pd.get_dummies(data_req['Company response to consumer'])
dumy.head()

,Closed,Closed with explanation,Closed with monetary relief,Closed with non-monetary relief,Closed with relief,Closed without relief,In progress,Untimely response
0,0,1,0,0,0,0,0,0
1,0,1,0,0,0,0,0,0
2,0,1,0,0,0,0,0,0
3,0,1,0,0,0,0,0,0
4,0,1,0,0,0,0,0,0

In [35]:
data_req_new = pd.concat([data_req_new,dumy],axis=1)
data_req_new.shape

(34081, 86)

In [36]:
data_req_new=data_req_new.drop(['Issue','State','Submitted via','Company response to consumer'], axis=1)
data_req_new.shape

(34081, 82)

In [37]:
!pip install kmodes

Collecting kmodes
  Downloading https://files.pythonhosted.org/packages/1a/d5/54e0efa2ddf33234761f8c35471f4a2280bb4cef44fd39fa08f1e663946a/kmodes-0.9-py2.py3-none-any.whl
Requirement already satisfied: numpy>=1.10.4 in /usr/local/lib/python3.6/dist-packages (from kmodes) (1.14.5)
Requirement already satisfied: scikit-learn<0.20.0,>=0.19.0 in /usr/local/lib/python3.6/dist-packages (from kmodes) (0.19.2)
Requirement already satisfied: scipy>=0.13.3 in /usr/local/lib/python3.6/dist-packages (from kmodes) (0.19.1)
Installing collected packages: kmodes
Successfully installed kmodes-0.9

In [0]:
from kmodes.kprototypes import KPrototypes

In [0]:
km = KPrototypes(n_clusters=10, init='Huang', n_init=10, verbose=1)

In [40]:
#clusters = km.fit_predict(data_req_new)
clusters = km.fit_predict(data_req_new.as_matrix(), categorical=list(range(1,80)))

Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 1, iteration: 1/100, moves: 12444, ncost: 1373.169311512812
Run: 1, iteration: 2/100, moves: 4196, ncost: 1339.5704801555814
Run: 1, iteration: 3/100, moves: 318, ncost: 1339.5684480807142
Run: 1, iteration: 4/100, moves: 0, ncost: 1339.5684480807142
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 2, iteration: 1/100, moves: 3816, ncost: 1500.056315743713
Run: 2, iteration: 2/100, moves: 44, ncost: 1500.0554796513957
Run: 2, iteration: 3/100, moves: 0, ncost: 1500.0554796513957
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 3, iteration: 1/100, moves: 11639, ncost: 1417.420298918549
Run: 3, iteration: 2/100, moves: 3722, ncost: 1313.9512168362678
Run: 3, iteration: 3/100, moves: 28, ncost: 1313.9512159058768
Run: 3, iteration: 4/100, moves: 0, ncost: 1313.9512159058768
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 4, iteration: 1/100, moves: 10868, ncost: 1423.9568421707695
Run: 4, iteration: 2/100, moves: 7677, ncost: 1320.2737001592513
Run: 4, iteration: 3/100, moves: 1716, ncost: 1293.7196916577896
Run: 4, iteration: 4/100, moves: 3183, ncost: 1248.45719069739
Run: 4, iteration: 5/100, moves: 903, ncost: 1248.4545086806957
Run: 4, iteration: 6/100, moves: 30, ncost: 1248.4545068787613
Run: 4, iteration: 7/100, moves: 0, ncost: 1248.4545068787613
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 5, iteration: 1/100, moves: 9496, ncost: 1439.9545030085917
Run: 5, iteration: 2/100, moves: 1956, ncost: 1439.934077526292
Run: 5, iteration: 3/100, moves: 48, ncost: 1439.9340773527238
Run: 5, iteration: 4/100, moves: 0, ncost: 1439.9340773527238
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 6, iteration: 1/100, moves: 8366, ncost: 1436.0604258499238
Run: 6, iteration: 2/100, moves: 1318, ncost: 1436.0382505499454
Run: 6, iteration: 3/100, moves: 8, ncost: 1436.0382485237374
Run: 6, iteration: 4/100, moves: 0, ncost: 1436.0382485237374
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 7, iteration: 1/100, moves: 11200, ncost: 1437.942846559302
Run: 7, iteration: 2/100, moves: 1057, ncost: 1342.8296632056538
Run: 7, iteration: 3/100, moves: 0, ncost: 1342.8296632056538
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 8, iteration: 1/100, moves: 9889, ncost: 1417.2347681531246
Run: 8, iteration: 2/100, moves: 4394, ncost: 1325.621282247277
Run: 8, iteration: 3/100, moves: 1628, ncost: 1257.460472292876
Run: 8, iteration: 4/100, moves: 20, ncost: 1257.4604715238324
Run: 8, iteration: 5/100, moves: 0, ncost: 1257.4604715238324
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 9, iteration: 1/100, moves: 10501, ncost: 1342.3418705545243
Run: 9, iteration: 2/100, moves: 430, ncost: 1282.6292732385816
Run: 9, iteration: 3/100, moves: 11, ncost: 1282.629273204535
Run: 9, iteration: 4/100, moves: 0, ncost: 1282.629273204535
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 10, iteration: 1/100, moves: 9758, ncost: 1514.918792864652
Run: 10, iteration: 2/100, moves: 3863, ncost: 1510.2068767393876
Run: 10, iteration: 3/100, moves: 1778, ncost: 1505.0969150527646
Run: 10, iteration: 4/100, moves: 1091, ncost: 1505.0537914108836
Run: 10, iteration: 5/100, moves: 115, ncost: 1505.0537706726848
Run: 10, iteration: 6/100, moves: 0, ncost: 1505.0537706726848
Best run was number 4

In [42]:
from kmodes.kprototypes import KPrototypes
km = KPrototypes(n_clusters=10, init='Huang', n_init=5, verbose=1)
clusters = km.fit_predict(data_req_new.as_matrix(), categorical=list(range(1,81)))

Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 1, iteration: 1/100, moves: 14713, ncost: 548.95760791532
Run: 1, iteration: 2/100, moves: 3174, ncost: 544.2395837819832
Run: 1, iteration: 3/100, moves: 41, ncost: 543.6762193060367
Run: 1, iteration: 4/100, moves: 7, ncost: 543.6429022653487
Run: 1, iteration: 5/100, moves: 3, ncost: 543.6396925619516
Run: 1, iteration: 6/100, moves: 0, ncost: 543.6396925619516
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 2, iteration: 1/100, moves: 7815, ncost: 578.2937720515298
Run: 2, iteration: 2/100, moves: 5005, ncost: 550.7458332188097
Run: 2, iteration: 3/100, moves: 1569, ncost: 546.7498346026728
Run: 2, iteration: 4/100, moves: 45, ncost: 546.6586308268596
Run: 2, iteration: 5/100, moves: 2, ncost: 546.6565993955778
Run: 2, iteration: 6/100, moves: 0, ncost: 546.6565993955778
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 3, iteration: 1/100, moves: 6233, ncost: 594.6534656357493
Run: 3, iteration: 2/100, moves: 558, ncost: 594.6504496595448
Run: 3, iteration: 3/100, moves: 11, ncost: 594.6504491546566
Run: 3, iteration: 4/100, moves: 0, ncost: 594.6504491546566
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 4, iteration: 1/100, moves: 9320, ncost: 570.593772777659
Run: 4, iteration: 2/100, moves: 6563, ncost: 568.0107936003517
Run: 4, iteration: 3/100, moves: 266, ncost: 561.4548999786196
Run: 4, iteration: 4/100, moves: 23, ncost: 561.2846229911378
Run: 4, iteration: 5/100, moves: 34, ncost: 561.2803575033673
Run: 4, iteration: 6/100, moves: 4, ncost: 561.2803574314221
Run: 4, iteration: 7/100, moves: 0, ncost: 561.2803574314221
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 5, iteration: 1/100, moves: 5460, ncost: 545.2999497506732
Run: 5, iteration: 2/100, moves: 323, ncost: 545.2979455895414
Run: 5, iteration: 3/100, moves: 0, ncost: 545.2979455895414
Best run was number 1

In [43]:
from kmodes.kprototypes import KPrototypes
km = KPrototypes(n_clusters=10, init='Huang', n_init=3, verbose=1)
clusters = km.fit_predict(data_req_new.as_matrix(), categorical=list(range(1,81)))

Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 1, iteration: 1/100, moves: 6724, ncost: 621.1932144035502
Run: 1, iteration: 2/100, moves: 4401, ncost: 558.4051476485363
Run: 1, iteration: 3/100, moves: 5225, ncost: 556.4384535356553
Run: 1, iteration: 4/100, moves: 111, ncost: 556.3685918195505
Run: 1, iteration: 5/100, moves: 74, ncost: 556.362024098282
Run: 1, iteration: 6/100, moves: 0, ncost: 556.362024098282
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 2, iteration: 1/100, moves: 10887, ncost: 538.4803268238032
Run: 2, iteration: 2/100, moves: 362, ncost: 538.0817367742283
Run: 2, iteration: 3/100, moves: 97, ncost: 538.0585643270573
Run: 2, iteration: 4/100, moves: 0, ncost: 538.0585643270573
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 3, iteration: 1/100, moves: 6940, ncost: 568.8583633699956
Run: 3, iteration: 2/100, moves: 1232, ncost: 566.5998095802812
Run: 3, iteration: 3/100, moves: 484, ncost: 566.530783038213
Run: 3, iteration: 4/100, moves: 33, ncost: 566.5268137449714
Run: 3, iteration: 5/100, moves: 0, ncost: 566.5268137449714
Best run was number 2

In [44]:
print(km.cluster_centroids_)

[array([[1.37523889e-02, 3.10559006e-04],
       [2.66287696e-03, 0.00000000e+00],
       [3.76344086e-03, 0.00000000e+00],
       [4.09936449e-03, 0.00000000e+00],
       [7.66555565e-03, 2.28050171e-04],
       [1.83187850e-03, 0.00000000e+00],
       [4.20390271e-01, 0.00000000e+00],
       [3.40196250e-03, 4.55580866e-04],
       [2.33237620e-03, 0.00000000e+00],
       [2.28206645e-03, 0.00000000e+00]]), array([[0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 1., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 1., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0.,
        1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 1., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 1., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 1., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 1., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 1., 0., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 1., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 1., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 1., 0., 0., 0., 0., 0.]])]

In [0]:
clusters=clusters.reshape(34081,1)

In [0]:
class_cluster = pd.DataFrame(clusters,columns=['Class cluster'])

In [47]:
class_cluster.head()

   Class cluster
0              1
1              4
2              7
3              5
4              7

In [48]:
data_req_new.head()

,Time Difference,"Application, originator, mortgage broker",Applying for a mortgage,Applying for a mortgage or refinancing an existing mortgage,Closing on a mortgage,Credit decision / Underwriting,Improper use of your report,Incorrect information on your report,"Loan modification,collection,foreclosure","Loan servicing, payments, escrow account",...,Referral,Web,Closed,Closed with explanation,Closed with monetary relief,Closed with non-monetary relief,Closed with relief,Closed without relief,In progress,Untimely response
0,0.000000,0,0,0,0,0,0,0,1,0,...,0,1,0,1,0,0,0,0,0,0
1,0.003846,0,0,0,0,0,0,0,1,0,...,1,0,0,1,0,0,0,0,0,0
2,0.000000,1,0,0,0,0,0,0,0,0,...,0,1,0,1,0,0,0,0,0,0
3,0.000000,0,0,0,0,0,0,0,0,0,...,0,1,0,1,0,0,0,0,0,0
4,0.001923,1,0,0,0,0,0,0,0,0,...,0,1,0,1,0,0,0,0,0,0

In [49]:
data_req_new.index = range(data_req_new.shape[0])
data_req_new.head()

,Time Difference,"Application, originator, mortgage broker",Applying for a mortgage,Applying for a mortgage or refinancing an existing mortgage,Closing on a mortgage,Credit decision / Underwriting,Improper use of your report,Incorrect information on your report,"Loan modification,collection,foreclosure","Loan servicing, payments, escrow account",...,Referral,Web,Closed,Closed with explanation,Closed with monetary relief,Closed with non-monetary relief,Closed with relief,Closed without relief,In progress,Untimely response
0,0.000000,0,0,0,0,0,0,0,1,0,...,0,1,0,1,0,0,0,0,0,0
1,0.003846,0,0,0,0,0,0,0,1,0,...,1,0,0,1,0,0,0,0,0,0
2,0.000000,1,0,0,0,0,0,0,0,0,...,0,1,0,1,0,0,0,0,0,0
3,0.000000,0,0,0,0,0,0,0,0,0,...,0,1,0,1,0,0,0,0,0,0
4,0.001923,1,0,0,0,0,0,0,0,0,...,0,1,0,1,0,0,0,0,0,0

In [0]:
data_req_new = pd.concat([data_req_new,class_cluster],axis=1)

In [51]:
data_req_new.head()

,Time Difference,"Application, originator, mortgage broker",Applying for a mortgage,Applying for a mortgage or refinancing an existing mortgage,Closing on a mortgage,Credit decision / Underwriting,Improper use of your report,Incorrect information on your report,"Loan modification,collection,foreclosure","Loan servicing, payments, escrow account",...,Web,Closed,Closed with explanation,Closed with monetary relief,Closed with non-monetary relief,Closed with relief,Closed without relief,In progress,Untimely response,Class cluster
0,0.000000,0,0,0,0,0,0,0,1,0,...,1,0,1,0,0,0,0,0,0,1
1,0.003846,0,0,0,0,0,0,0,1,0,...,0,0,1,0,0,0,0,0,0,4
2,0.000000,1,0,0,0,0,0,0,0,0,...,1,0,1,0,0,0,0,0,0,7
3,0.000000,0,0,0,0,0,0,0,0,0,...,1,0,1,0,0,0,0,0,0,5
4,0.001923,1,0,0,0,0,0,0,0,0,...,1,0,1,0,0,0,0,0,0,7