[View in Colaboratory](https://colab.research.google.com/github/venkatakula9652/Complaints_Framework/blob/master/Copy_of_Copy_of_Complaints_Framework_Model_Venkatesh.ipynb)

In [0]:
# IMPORTING NECESSARY PACKAGES
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [0]:
!apt-get install -y -qq software-properties-common python-software-properties module-init-tools
!add-apt-repository -y ppa:alessandro-strada/ppa 2>&1 > /dev/null
!apt-get update -qq 2>&1 > /dev/null
!apt-get -y install -qq google-drive-ocamlfuse fuse
from google.colab import auth
auth.authenticate_user()
from oauth2client.client import GoogleCredentials
creds = GoogleCredentials.get_application_default()
import getpass
!google-drive-ocamlfuse -headless -id={creds.client_id} -secret={creds.client_secret} < /dev/null 2>&1 | grep URL
vcode = getpass.getpass()
!echo {vcode} | google-drive-ocamlfuse -headless -id={creds.client_id} -secret={creds.client_secret}

In [0]:
!mkdir -p drive
!google-drive-ocamlfuse drive

In [64]:
data = pd.read_csv("drive/Complaints_Dataset/complaints-2018-08-17.csv")

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (25,30,31,32) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [65]:
data.head()

,Date received,Product,Sub-product,Issue,Sub-issue,Consumer complaint narrative,Company public response,Company,State,ZIP code,...,Unnamed: 23,Zip Code,Place Name,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32
0,05-11-2018,Mortgage,FHA mortgage,Trouble during payment process,NaN,NaN,Company believes complaint is the result of an...,"loanDepot.com, LLC",AA,34031,...,NaN,501.0,Holtsville,NaN,NaN,NaN,92274.0,100 Palms,California,CA
1,02/20/13,Mortgage,Other mortgage,"Loan modification,collection,foreclosure",NaN,NaN,NaN,WELLS FARGO & COMPANY,AA,98282,...,NaN,544.0,Holtsville,NaN,NaN,NaN,92276.0,1000 Palms,California,CA
2,09/17/16,Mortgage,VA mortgage,"Loan modification,collection,foreclosure",NaN,I ran into some financial issues and contacted...,NaN,FIFTH THIRD FINANCIAL CORPORATION,AA,340XX,...,NaN,1001.0,Agawam,NaN,NaN,NaN,92277.0,29 Palms,California,CA
3,08/18/15,Mortgage,Conventional fixed mortgage,"Loan servicing, payments, escrow account",NaN,"My mortgage servicer, PHH corporation, has fai...",NaN,PHH Mortgage Services Corporation,AA,340XX,...,NaN,1002.0,Amherst,NaN,NaN,NaN,92278.0,29 Palms,California,CA
4,05/28/14,Mortgage,Conventional fixed mortgage,"Loan servicing, payments, escrow account",NaN,NaN,NaN,"CITIBANK, N.A.",AA,34058,...,NaN,1003.0,Amherst,NaN,NaN,NaN,90848.0,A A R P,California,CA

In [0]:
data = data[data.Company == 'WELLS FARGO & COMPANY']

In [0]:
data = data[data.State.isin(['AK','AL','AR','AZ','CA','CO','CT','DC','DE','FL','GA','HI','IA','ID','IL','IN','KS','KY','LA','MA','MD','ME','MI','MN','MO','MS','MT','NC','ND','NE','NH','NJ','NM','NV','NY','OH','OK','OR','PA','PR','RI','SC','SD','TN','TX','UT','VA','VT','WA','WI','WV','WY'])]

In [68]:
data.head()

,Date received,Product,Sub-product,Issue,Sub-issue,Consumer complaint narrative,Company public response,Company,State,ZIP code,...,Unnamed: 23,Zip Code,Place Name,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32
114,11/14/16,Mortgage,Other mortgage,"Loan modification,collection,foreclosure",NaN,NaN,Company has responded to the consumer and the ...,WELLS FARGO & COMPANY,AK,99524,...,NaN,1245.0,Monterey,NaN,NaN,NaN,92307.0,Apple Valley,California,CA
117,02-09-2015,Mortgage,FHA mortgage,"Loan modification,collection,foreclosure",NaN,NaN,NaN,WELLS FARGO & COMPANY,AK,99567,...,NaN,1253.0,Otis,NaN,NaN,NaN,95001.0,Aptos,California,CA
118,03-02-2016,Mortgage,Other mortgage,"Application, originator, mortgage broker",NaN,I refinanced my loan with Wells Fargo. The ori...,Company has responded to the consumer and the ...,WELLS FARGO & COMPANY,AK,995XX,...,NaN,1254.0,Richmond,NaN,NaN,NaN,95003.0,Aptos,California,CA
120,12-02-2014,Mortgage,FHA mortgage,"Loan modification,collection,foreclosure",NaN,NaN,NaN,WELLS FARGO & COMPANY,AK,99507,...,NaN,1256.0,Savoy,NaN,NaN,NaN,95912.0,Arbuckle,California,CA
123,03-07-2013,Mortgage,Other mortgage,"Loan servicing, payments, escrow account",NaN,NaN,NaN,WELLS FARGO & COMPANY,AK,99516,...,NaN,1259.0,Southfield,NaN,NaN,NaN,91066.0,Arcadia,California,CA

In [69]:
data.index = range(data.shape[0])
data.head()

,Date received,Product,Sub-product,Issue,Sub-issue,Consumer complaint narrative,Company public response,Company,State,ZIP code,...,Unnamed: 23,Zip Code,Place Name,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32
0,11/14/16,Mortgage,Other mortgage,"Loan modification,collection,foreclosure",NaN,NaN,Company has responded to the consumer and the ...,WELLS FARGO & COMPANY,AK,99524,...,NaN,1245.0,Monterey,NaN,NaN,NaN,92307.0,Apple Valley,California,CA
1,02-09-2015,Mortgage,FHA mortgage,"Loan modification,collection,foreclosure",NaN,NaN,NaN,WELLS FARGO & COMPANY,AK,99567,...,NaN,1253.0,Otis,NaN,NaN,NaN,95001.0,Aptos,California,CA
2,03-02-2016,Mortgage,Other mortgage,"Application, originator, mortgage broker",NaN,I refinanced my loan with Wells Fargo. The ori...,Company has responded to the consumer and the ...,WELLS FARGO & COMPANY,AK,995XX,...,NaN,1254.0,Richmond,NaN,NaN,NaN,95003.0,Aptos,California,CA
3,12-02-2014,Mortgage,FHA mortgage,"Loan modification,collection,foreclosure",NaN,NaN,NaN,WELLS FARGO & COMPANY,AK,99507,...,NaN,1256.0,Savoy,NaN,NaN,NaN,95912.0,Arbuckle,California,CA
4,03-07-2013,Mortgage,Other mortgage,"Loan servicing, payments, escrow account",NaN,NaN,NaN,WELLS FARGO & COMPANY,AK,99516,...,NaN,1259.0,Southfield,NaN,NaN,NaN,91066.0,Arcadia,California,CA

In [70]:
data.shape

(34081, 33)

In [0]:
#req_cols = ['Date received','Issue','State','Submitted via', 'Date sent to company','Company reponse to consumer']
req_cols = ['Date received','Issue','City','Submitted via', 'Date sent to company','Company response to consumer']

In [72]:
data.columns

Index(['Date received', 'Product', 'Sub-product', 'Issue', 'Sub-issue',
       'Consumer complaint narrative', 'Company public response', 'Company',
       'State', 'ZIP code', 'Tags', 'Consumer consent provided?',
       'Submitted via', 'Date sent to company', 'Company response to consumer',
       'Timely response?', 'Consumer disputed?', 'Complaint ID', 'City',
       'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22',
       'Unnamed: 23', 'Zip Code', 'Place Name', 'Unnamed: 26', 'Unnamed: 27',
       'Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31',
       'Unnamed: 32'],
      dtype='object')

In [0]:
data_req = data[req_cols]

In [74]:
data_req.shape

(34081, 6)

In [75]:
data_req.columns

Index(['Date received', 'Issue', 'City', 'Submitted via',
       'Date sent to company', 'Company response to consumer'],
      dtype='object')

In [76]:
data_req['Date received']=pd.to_datetime(data_req['Date received'])
data_req['Date sent to company']=pd.to_datetime(data_req['Date sent to company'])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [77]:
data_req.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34081 entries, 0 to 34080
Data columns (total 6 columns):
Date received                   34081 non-null datetime64[ns]
Issue                           34081 non-null object
City                            28423 non-null object
Submitted via                   34081 non-null object
Date sent to company            34081 non-null datetime64[ns]
Company response to consumer    34081 non-null object
dtypes: datetime64[ns](2), object(4)
memory usage: 1.6+ MB

In [78]:
data_req['Time Difference'] = (data_req['Date sent to company']-data_req['Date received']).astype('timedelta64[s]')
data_req.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,Date received,Issue,City,Submitted via,Date sent to company,Company response to consumer,Time Difference
0,2016-11-14,"Loan modification,collection,foreclosure",Anchorage,Referral,2016-11-16,Closed with explanation,172800.0
1,2015-02-09,"Loan modification,collection,foreclosure",Chugiak,Web,2015-02-09,Closed with explanation,0.0
2,2016-03-02,"Application, originator, mortgage broker",NaN,Web,2016-03-04,Closed with monetary relief,172800.0
3,2014-12-02,"Loan modification,collection,foreclosure",Anchorage,Web,2014-12-05,Closed with explanation,259200.0
4,2013-03-07,"Loan servicing, payments, escrow account",Anchorage,Referral,2013-03-08,Closed with explanation,86400.0

In [79]:
data_req.loc[data_req['Time Difference'] < 0, 'Time Difference'] = 0
data_req.head()

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:537: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

,Date received,Issue,City,Submitted via,Date sent to company,Company response to consumer,Time Difference
0,2016-11-14,"Loan modification,collection,foreclosure",Anchorage,Referral,2016-11-16,Closed with explanation,172800.0
1,2015-02-09,"Loan modification,collection,foreclosure",Chugiak,Web,2015-02-09,Closed with explanation,0.0
2,2016-03-02,"Application, originator, mortgage broker",NaN,Web,2016-03-04,Closed with monetary relief,172800.0
3,2014-12-02,"Loan modification,collection,foreclosure",Anchorage,Web,2014-12-05,Closed with explanation,259200.0
4,2013-03-07,"Loan servicing, payments, escrow account",Anchorage,Referral,2013-03-08,Closed with explanation,86400.0

In [80]:
from sklearn.preprocessing import MinMaxScaler
values=data_req['Time Difference'].values.reshape((len(data_req['Time Difference']), 1))
# train the normalization
scaler = MinMaxScaler(feature_range=(0, 1))
scaler = scaler.fit(values)
# normalize the dataset
data_req['Time Difference'] = scaler.transform(values)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

In [81]:
data_req.head()

,Date received,Issue,City,Submitted via,Date sent to company,Company response to consumer,Time Difference
0,2016-11-14,"Loan modification,collection,foreclosure",Anchorage,Referral,2016-11-16,Closed with explanation,0.003846
1,2015-02-09,"Loan modification,collection,foreclosure",Chugiak,Web,2015-02-09,Closed with explanation,0.000000
2,2016-03-02,"Application, originator, mortgage broker",NaN,Web,2016-03-04,Closed with monetary relief,0.003846
3,2014-12-02,"Loan modification,collection,foreclosure",Anchorage,Web,2014-12-05,Closed with explanation,0.005769
4,2013-03-07,"Loan servicing, payments, escrow account",Anchorage,Referral,2013-03-08,Closed with explanation,0.001923

In [82]:
data_req.dtypes

Date received                   datetime64[ns]
Issue                                   object
City                                    object
Submitted via                           object
Date sent to company            datetime64[ns]
Company response to consumer            object
Time Difference                        float64
dtype: object

In [0]:
data_req=data_req.drop(data_req.columns[[0, 4]], axis=1)

In [84]:
data_req.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34081 entries, 0 to 34080
Data columns (total 5 columns):
Issue                           34081 non-null object
City                            28423 non-null object
Submitted via                   34081 non-null object
Company response to consumer    34081 non-null object
Time Difference                 34081 non-null float64
dtypes: float64(1), object(4)
memory usage: 1.3+ MB

In [85]:
data_req['Issue'].value_counts(dropna=False)

Loan modification,collection,foreclosure                                            17187
Loan servicing, payments, escrow account                                             7955
Application, originator, mortgage broker                                             2554
Struggling to pay mortgage                                                           1651
Trouble during payment process                                                       1406
Settlement process and costs                                                         1081
Credit decision / Underwriting                                                        858
Other                                                                                 708
Applying for a mortgage or refinancing an existing mortgage                           301
Closing on a mortgage                                                                 225
Incorrect information on your report                                                   75
Applying for a mortgage                                                                53
Problem with a credit reporting company's investigation into an existing problem       20
Improper use of your report                                                             4
Unable to get your credit report or credit score                                        3
Name: Issue, dtype: int64

In [86]:
data_req['City'].value_counts(dropna=False)

NaN                 5658
Miami                513
Los Angeles          296
Atlanta              266
Brooklyn             231
Chicago              227
San Diego            194
Philadelphia         190
Fort Lauderdale      157
Jacksonville         157
Washington           156
Las Vegas            154
San Francisco        143
Pompano Beach        143
New York             137
Charlotte            137
Orlando              129
San Jose             128
Seattle              123
Sacramento           122
Minneapolis          122
Houston              119
Phoenix              112
Portland             111
West Palm Beach      105
Hollywood            104
Dallas               101
Oakland               99
Baltimore             98
Corona                96
                    ...
Fort Belvoir           1
Lakeview               1
Pahoa                  1
Atherton               1
Metropolis             1
Chilmark               1
Bethalto               1
South Portsmouth       1
Cairnbrook             1
Lake Bluff             1
Kenansville            1
Evanston               1
Manorville             1
Silverdale             1
Emporia                1
Wewoka                 1
Waverly Hall           1
Center Ossipee         1
Port Chester           1
Show Low               1
Owasso                 1
West Mifflin           1
Bourbonnais            1
Sierra Madre           1
Elkland                1
Lynn Haven             1
Tipp City              1
Victor                 1
Pittsville             1
Hillsdale              1
Name: City, Length: 4521, dtype: int64

In [87]:
data_req['Submitted via'].value_counts(dropna=False)

Web            18303
Referral       11262
Phone           1927
Postal mail     1842
Fax              727
Email             20
Name: Submitted via, dtype: int64

In [88]:
data_req['Company response to consumer'].value_counts(dropna=False)

Closed with explanation            29158
Closed without relief               1960
Closed with non-monetary relief     1622
Closed with monetary relief         1055
In progress                          161
Closed                                64
Closed with relief                    57
Untimely response                      4
Name: Company response to consumer, dtype: int64

In [89]:
data_req['Time Difference'].value_counts(dropna=False)

0.000000    13869
0.001923     6012
0.003846     3376
0.005769     2542
0.007692     2347
0.009615     2009
0.011538     1293
0.013462      832
0.015385      286
0.017308      142
0.019231      142
0.028846       95
0.025000       91
0.021154       85
0.023077       85
0.026923       68
0.032692       63
0.030769       43
0.036538       38
0.067308       36
0.042308       34
0.038462       32
0.040385       32
0.034615       30
0.055769       24
0.053846       24
0.044231       23
0.075000       22
0.046154       22
0.069231       22
            ...
0.157692        1
0.190385        1
0.405769        1
0.144231        1
0.317308        1
0.334615        1
0.263462        1
0.425000        1
0.186538        1
0.496154        1
0.494231        1
0.446154        1
0.113462        1
0.390385        1
0.523077        1
0.250000        1
0.203846        1
0.513462        1
0.480769        1
0.169231        1
0.121154        1
0.342308        1
0.253846        1
0.225000        1
0.209615        1
0.142308        1
0.363462        1
0.401923        1
0.194231        1
0.365385        1
Name: Time Difference, Length: 148, dtype: int64

In [0]:
data_req=data_req.dropna(how='any')

In [91]:
data_req.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28423 entries, 0 to 34078
Data columns (total 5 columns):
Issue                           28423 non-null object
City                            28423 non-null object
Submitted via                   28423 non-null object
Company response to consumer    28423 non-null object
Time Difference                 28423 non-null float64
dtypes: float64(1), object(4)
memory usage: 1.3+ MB

In [0]:
#data_req[:5]['Total Days'] / np.timedelta64(1, 's')

In [93]:
data_req.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28423 entries, 0 to 34078
Data columns (total 5 columns):
Issue                           28423 non-null object
City                            28423 non-null object
Submitted via                   28423 non-null object
Company response to consumer    28423 non-null object
Time Difference                 28423 non-null float64
dtypes: float64(1), object(4)
memory usage: 1.3+ MB

In [94]:
data_req.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28423 entries, 0 to 34078
Data columns (total 5 columns):
Issue                           28423 non-null object
City                            28423 non-null object
Submitted via                   28423 non-null object
Company response to consumer    28423 non-null object
Time Difference                 28423 non-null float64
dtypes: float64(1), object(4)
memory usage: 1.3+ MB

In [95]:
!pip install kmodes

Requirement already satisfied: kmodes in /usr/local/lib/python3.6/dist-packages (0.9)
Requirement already satisfied: numpy>=1.10.4 in /usr/local/lib/python3.6/dist-packages (from kmodes) (1.14.5)
Requirement already satisfied: scipy>=0.13.3 in /usr/local/lib/python3.6/dist-packages (from kmodes) (0.19.1)
Requirement already satisfied: scikit-learn<0.20.0,>=0.19.0 in /usr/local/lib/python3.6/dist-packages (from kmodes) (0.19.2)

In [0]:
from kmodes.kprototypes import KPrototypes

In [0]:
km = KPrototypes(n_clusters=5, init='Huang', n_init=3, verbose=1)

In [98]:
#clusters = km.fit_predict(data_req_new)
clusters = km.fit_predict(data_req.as_matrix(), categorical=list(range(0,4)))

Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 1, iteration: 1/100, moves: 5522, ncost: 556.2452550097636
Run: 1, iteration: 2/100, moves: 4481, ncost: 554.0190520232643
Run: 1, iteration: 3/100, moves: 630, ncost: 551.0517253263217
Run: 1, iteration: 4/100, moves: 530, ncost: 550.7104370629539
Run: 1, iteration: 5/100, moves: 34, ncost: 550.7065663098599
Run: 1, iteration: 6/100, moves: 1, ncost: 550.7059906346427
Run: 1, iteration: 7/100, moves: 0, ncost: 550.7059906346427
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 2, iteration: 1/100, moves: 10997, ncost: 524.8686882015231
Run: 2, iteration: 2/100, moves: 6947, ncost: 522.2694403136942
Run: 2, iteration: 3/100, moves: 2016, ncost: 521.9746055089506
Run: 2, iteration: 4/100, moves: 2392, ncost: 521.9533912834537
Run: 2, iteration: 5/100, moves: 0, ncost: 521.9533912834537
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 3, iteration: 1/100, moves: 5247, ncost: 550.8402909223657
Run: 3, iteration: 2/100, moves: 1773, ncost: 550.831521394373
Run: 3, iteration: 3/100, moves: 85, ncost: 550.8312800657577
Run: 3, iteration: 4/100, moves: 0, ncost: 550.8312800657577
Best run was number 2

In [99]:
print(km.cluster_centroids_)

[array([[0.00830946],
       [0.00545021],
       [0.00404738],
       [0.01596363],
       [0.00186717]]), array([['Loan modification,collection,foreclosure', 'Miami', 'Referral',
        'Closed with explanation'],
       ['Loan modification,collection,foreclosure', 'Los Angeles', 'Web',
        'Closed with explanation'],
       ['Application, originator, mortgage broker', 'Atlanta', 'Web',
        'Closed with explanation'],
       ['Loan servicing, payments, escrow account', 'Chicago',
        'Referral', 'Closed with explanation'],
       ['Loan servicing, payments, escrow account', 'Miami', 'Web',
        'Closed with explanation']], dtype='<U40')]

In [0]:
clusters=clusters.reshape(28423,1)

In [0]:
class_cluster = pd.DataFrame(clusters,columns=['Class cluster'])

In [102]:
class_cluster.head()

   Class cluster
0              0
1              1
2              1
3              3
4              0

In [104]:
#data_req_new.head()
data_req.head()

,Issue,City,Submitted via,Company response to consumer,Time Difference
0,"Loan modification,collection,foreclosure",Anchorage,Referral,Closed with explanation,0.003846
1,"Loan modification,collection,foreclosure",Chugiak,Web,Closed with explanation,0.000000
3,"Loan modification,collection,foreclosure",Anchorage,Web,Closed with explanation,0.005769
4,"Loan servicing, payments, escrow account",Anchorage,Referral,Closed with explanation,0.001923
5,"Loan modification,collection,foreclosure",Anchorage,Postal mail,Closed with explanation,0.007692

In [105]:
data_req.index = range(data_req.shape[0])
data_req.head()

,Issue,City,Submitted via,Company response to consumer,Time Difference
0,"Loan modification,collection,foreclosure",Anchorage,Referral,Closed with explanation,0.003846
1,"Loan modification,collection,foreclosure",Chugiak,Web,Closed with explanation,0.000000
2,"Loan modification,collection,foreclosure",Anchorage,Web,Closed with explanation,0.005769
3,"Loan servicing, payments, escrow account",Anchorage,Referral,Closed with explanation,0.001923
4,"Loan modification,collection,foreclosure",Anchorage,Postal mail,Closed with explanation,0.007692

In [0]:
#data_req_new = pd.concat([data_req_new,class_cluster],axis=1)
data_req = pd.concat([data_req,class_cluster],axis=1)

In [107]:
#data_req_new.head()
data_req.head()

,Issue,City,Submitted via,Company response to consumer,Time Difference,Class cluster
0,"Loan modification,collection,foreclosure",Anchorage,Referral,Closed with explanation,0.003846,0
1,"Loan modification,collection,foreclosure",Chugiak,Web,Closed with explanation,0.000000,1
2,"Loan modification,collection,foreclosure",Anchorage,Web,Closed with explanation,0.005769,1
3,"Loan servicing, payments, escrow account",Anchorage,Referral,Closed with explanation,0.001923,3
4,"Loan modification,collection,foreclosure",Anchorage,Postal mail,Closed with explanation,0.007692,0

In [0]:
# DF TO CSV
path= r'drive/Complaints_Dataset/'
data_req.to_csv(path+'clusteredComplaintsDataSet.csv', sep=',', encoding='utf-8')