[View in Colaboratory](https://colab.research.google.com/github/venkatakula9652/Complaints_Framework/blob/master/Copy_of_Complaints_Framework_Model_Venkatesh.ipynb)

In [0]:
# IMPORTING NECESSARY PACKAGES
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [0]:
!apt-get install -y -qq software-properties-common python-software-properties module-init-tools
!add-apt-repository -y ppa:alessandro-strada/ppa 2>&1 > /dev/null
!apt-get update -qq 2>&1 > /dev/null
!apt-get -y install -qq google-drive-ocamlfuse fuse
from google.colab import auth
auth.authenticate_user()
from oauth2client.client import GoogleCredentials
creds = GoogleCredentials.get_application_default()
import getpass
!google-drive-ocamlfuse -headless -id={creds.client_id} -secret={creds.client_secret} < /dev/null 2>&1 | grep URL
vcode = getpass.getpass()
!echo {vcode} | google-drive-ocamlfuse -headless -id={creds.client_id} -secret={creds.client_secret}

In [0]:
!mkdir -p drive
!google-drive-ocamlfuse drive

In [0]:
data = pd.read_csv("drive/Complaints_Dataset/complaints-2018-07-20_02_20.csv")

In [5]:
data.head()

,Date received,Product,Sub-product,Issue,Sub-issue,Consumer complaint narrative,Company public response,Company,State,ZIP code,Tags,Consumer consent provided?,Submitted via,Date sent to company,Company response to consumer,Timely response?,Consumer disputed?,Complaint ID
0,02/05/13,Mortgage,FHA mortgage,"Loan servicing, payments, escrow account",NaN,NaN,NaN,"BAYVIEW LOAN SERVICING, LLC",MA,02151,NaN,NaN,Web,02/06/13,Closed with explanation,Yes,No,301664
1,05/15/17,Mortgage,Other type of mortgage,Trouble during payment process,NaN,NaN,Company has responded to the consumer and the ...,BMO HARRIS BANK NATIONAL ASSOCIATION,IL,60165,NaN,NaN,Fax,05/17/17,Closed with explanation,Yes,NaN,2484441
2,09/24/14,Mortgage,Other mortgage,"Loan modification,collection,foreclosure",NaN,NaN,NaN,Ditech Financial LLC,FL,34209,NaN,NaN,Referral,10/01/14,Closed with explanation,Yes,Yes,1043621
3,11/06/15,Mortgage,Other mortgage,"Loan modification,collection,foreclosure",NaN,NaN,NaN,OCWEN LOAN SERVICING LLC,GA,30253,NaN,NaN,Referral,11/09/15,Closed with explanation,Yes,No,1643449
4,03/08/12,Mortgage,Conventional fixed mortgage,"Loan modification,collection,foreclosure",NaN,NaN,NaN,"CITIBANK, N.A.",NJ,07438,NaN,NaN,Referral,03/08/12,Untimely response,No,No,32218

In [0]:
data = data[data.Company == 'WELLS FARGO & COMPANY']

In [0]:
data = data[data.State.isin(['AK','AL','AR','AZ','CA','CO','CT','DC','DE','FL','GA','HI','IA','ID','IL','IN','KS','KY','LA','MA','MD','ME','MI','MN','MO','MS','MT','NC','ND','NE','NH','NJ','NM','NV','NY','OH','OK','OR','PA','PR','RI','SC','SD','TN','TX','UT','VA','VT','WA','WI','WV','WY'])]

In [8]:
data.head()

,Date received,Product,Sub-product,Issue,Sub-issue,Consumer complaint narrative,Company public response,Company,State,ZIP code,Tags,Consumer consent provided?,Submitted via,Date sent to company,Company response to consumer,Timely response?,Consumer disputed?,Complaint ID
17,12/05/16,Mortgage,FHA mortgage,"Loan modification,collection,foreclosure",NaN,NaN,Company has responded to the consumer and the ...,WELLS FARGO & COMPANY,NJ,07106,NaN,Consent not provided,Web,12/05/16,Closed with explanation,Yes,No,2236348
20,01/09/13,Mortgage,Other mortgage,"Loan modification,collection,foreclosure",NaN,NaN,NaN,WELLS FARGO & COMPANY,NY,11550,NaN,NaN,Referral,01/11/13,Closed with explanation,Yes,No,225262
24,06/02/14,Mortgage,Other mortgage,"Application, originator, mortgage broker",NaN,NaN,NaN,WELLS FARGO & COMPANY,VA,20109,NaN,NaN,Web,06/02/14,Closed with explanation,Yes,No,876185
34,03/18/14,Mortgage,Reverse mortgage,Settlement process and costs,NaN,NaN,NaN,WELLS FARGO & COMPANY,CA,93311,NaN,NaN,Web,03/17/14,Closed with explanation,Yes,No,763623
37,08/06/13,Mortgage,FHA mortgage,"Application, originator, mortgage broker",NaN,NaN,NaN,WELLS FARGO & COMPANY,SD,57106,NaN,NaN,Web,08/07/13,Closed with explanation,Yes,Yes,481692

In [9]:
data.index = range(data.shape[0])
data.head()

,Date received,Product,Sub-product,Issue,Sub-issue,Consumer complaint narrative,Company public response,Company,State,ZIP code,Tags,Consumer consent provided?,Submitted via,Date sent to company,Company response to consumer,Timely response?,Consumer disputed?,Complaint ID
0,12/05/16,Mortgage,FHA mortgage,"Loan modification,collection,foreclosure",NaN,NaN,Company has responded to the consumer and the ...,WELLS FARGO & COMPANY,NJ,07106,NaN,Consent not provided,Web,12/05/16,Closed with explanation,Yes,No,2236348
1,01/09/13,Mortgage,Other mortgage,"Loan modification,collection,foreclosure",NaN,NaN,NaN,WELLS FARGO & COMPANY,NY,11550,NaN,NaN,Referral,01/11/13,Closed with explanation,Yes,No,225262
2,06/02/14,Mortgage,Other mortgage,"Application, originator, mortgage broker",NaN,NaN,NaN,WELLS FARGO & COMPANY,VA,20109,NaN,NaN,Web,06/02/14,Closed with explanation,Yes,No,876185
3,03/18/14,Mortgage,Reverse mortgage,Settlement process and costs,NaN,NaN,NaN,WELLS FARGO & COMPANY,CA,93311,NaN,NaN,Web,03/17/14,Closed with explanation,Yes,No,763623
4,08/06/13,Mortgage,FHA mortgage,"Application, originator, mortgage broker",NaN,NaN,NaN,WELLS FARGO & COMPANY,SD,57106,NaN,NaN,Web,08/07/13,Closed with explanation,Yes,Yes,481692

In [10]:
data.shape

(34081, 18)

In [0]:
#req_cols = ['Date received','Issue','State','Submitted via', 'Date sent to company','Company reponse to consumer']
req_cols = ['Date received','Issue','State','Submitted via', 'Date sent to company','Company response to consumer']

In [12]:
data.columns

Index(['Date received', 'Product', 'Sub-product', 'Issue', 'Sub-issue',
       'Consumer complaint narrative', 'Company public response', 'Company',
       'State', 'ZIP code', 'Tags', 'Consumer consent provided?',
       'Submitted via', 'Date sent to company', 'Company response to consumer',
       'Timely response?', 'Consumer disputed?', 'Complaint ID'],
      dtype='object')

In [0]:
data_req = data[req_cols]

In [14]:
data_req.shape

(34081, 6)

In [15]:
data_req.columns

Index(['Date received', 'Issue', 'State', 'Submitted via',
       'Date sent to company', 'Company response to consumer'],
      dtype='object')

In [16]:
data_req['Date received']=pd.to_datetime(data_req['Date received'])
data_req['Date sent to company']=pd.to_datetime(data_req['Date sent to company'])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [17]:
data_req.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34081 entries, 0 to 34080
Data columns (total 6 columns):
Date received                   34081 non-null datetime64[ns]
Issue                           34081 non-null object
State                           34081 non-null object
Submitted via                   34081 non-null object
Date sent to company            34081 non-null datetime64[ns]
Company response to consumer    34081 non-null object
dtypes: datetime64[ns](2), object(4)
memory usage: 1.6+ MB

In [18]:
data_req['Time Difference'] = (data_req['Date sent to company']-data_req['Date received']).astype('timedelta64[s]')
data_req.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,Date received,Issue,State,Submitted via,Date sent to company,Company response to consumer,Time Difference
0,2016-12-05,"Loan modification,collection,foreclosure",NJ,Web,2016-12-05,Closed with explanation,0.0
1,2013-01-09,"Loan modification,collection,foreclosure",NY,Referral,2013-01-11,Closed with explanation,172800.0
2,2014-06-02,"Application, originator, mortgage broker",VA,Web,2014-06-02,Closed with explanation,0.0
3,2014-03-18,Settlement process and costs,CA,Web,2014-03-17,Closed with explanation,-86400.0
4,2013-08-06,"Application, originator, mortgage broker",SD,Web,2013-08-07,Closed with explanation,86400.0

In [19]:
data_req.loc[data_req['Time Difference'] < 0, 'Time Difference'] = 0
data_req.head()

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:537: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

,Date received,Issue,State,Submitted via,Date sent to company,Company response to consumer,Time Difference
0,2016-12-05,"Loan modification,collection,foreclosure",NJ,Web,2016-12-05,Closed with explanation,0.0
1,2013-01-09,"Loan modification,collection,foreclosure",NY,Referral,2013-01-11,Closed with explanation,172800.0
2,2014-06-02,"Application, originator, mortgage broker",VA,Web,2014-06-02,Closed with explanation,0.0
3,2014-03-18,Settlement process and costs,CA,Web,2014-03-17,Closed with explanation,0.0
4,2013-08-06,"Application, originator, mortgage broker",SD,Web,2013-08-07,Closed with explanation,86400.0

In [20]:
from sklearn.preprocessing import MinMaxScaler
values=data_req['Time Difference'].values.reshape((len(data_req['Time Difference']), 1))
# train the normalization
scaler = MinMaxScaler(feature_range=(0, 1))
scaler = scaler.fit(values)
# normalize the dataset
data_req['Time Difference'] = scaler.transform(values)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

In [21]:
data_req.head()

,Date received,Issue,State,Submitted via,Date sent to company,Company response to consumer,Time Difference
0,2016-12-05,"Loan modification,collection,foreclosure",NJ,Web,2016-12-05,Closed with explanation,0.000000
1,2013-01-09,"Loan modification,collection,foreclosure",NY,Referral,2013-01-11,Closed with explanation,0.003846
2,2014-06-02,"Application, originator, mortgage broker",VA,Web,2014-06-02,Closed with explanation,0.000000
3,2014-03-18,Settlement process and costs,CA,Web,2014-03-17,Closed with explanation,0.000000
4,2013-08-06,"Application, originator, mortgage broker",SD,Web,2013-08-07,Closed with explanation,0.001923

In [22]:
data_req.dtypes

Date received                   datetime64[ns]
Issue                                   object
State                                   object
Submitted via                           object
Date sent to company            datetime64[ns]
Company response to consumer            object
Time Difference                        float64
dtype: object

In [0]:
data_req=data_req.drop(data_req.columns[[0, 4]], axis=1)

In [24]:
data_req.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34081 entries, 0 to 34080
Data columns (total 5 columns):
Issue                           34081 non-null object
State                           34081 non-null object
Submitted via                   34081 non-null object
Company response to consumer    34081 non-null object
Time Difference                 34081 non-null float64
dtypes: float64(1), object(4)
memory usage: 1.3+ MB

In [25]:
data_req['Issue'].value_counts(dropna=False)

Loan modification,collection,foreclosure                                            17187
Loan servicing, payments, escrow account                                             7955
Application, originator, mortgage broker                                             2554
Struggling to pay mortgage                                                           1651
Trouble during payment process                                                       1406
Settlement process and costs                                                         1081
Credit decision / Underwriting                                                        858
Other                                                                                 708
Applying for a mortgage or refinancing an existing mortgage                           301
Closing on a mortgage                                                                 225
Incorrect information on your report                                                   75
Applying for a mortgage                                                                53
Problem with a credit reporting company's investigation into an existing problem       20
Improper use of your report                                                             4
Unable to get your credit report or credit score                                        3
Name: Issue, dtype: int64

In [26]:
data_req['State'].value_counts(dropna=False)

CA    6641
FL    3580
NY    2429
NJ    2159
GA    1662
TX    1628
MD    1355
PA    1293
VA    1092
NC    1050
IL    1041
WA     797
AZ     744
OH     660
MA     619
MI     531
CO     522
MN     517
OR     465
SC     389
CT     388
NV     364
MO     346
TN     331
WI     329
LA     257
IN     250
AL     248
UT     194
DC     184
DE     171
NH     159
KY     147
IA     132
NM     125
OK     124
HI     116
NE     112
KS     108
ID     108
AR     104
ME      96
MS      89
RI      87
AK      74
MT      59
WV      58
SD      43
WY      33
VT      33
ND      32
PR       6
Name: State, dtype: int64

In [27]:
data_req['Submitted via'].value_counts(dropna=False)

Web            18303
Referral       11262
Phone           1927
Postal mail     1842
Fax              727
Email             20
Name: Submitted via, dtype: int64

In [28]:
data_req['Company response to consumer'].value_counts(dropna=False)

Closed with explanation            29158
Closed without relief               1960
Closed with non-monetary relief     1622
Closed with monetary relief         1055
In progress                          161
Closed                                64
Closed with relief                    57
Untimely response                      4
Name: Company response to consumer, dtype: int64

In [29]:
data_req['Time Difference'].value_counts(dropna=False)

0.000000    13869
0.001923     6012
0.003846     3376
0.005769     2542
0.007692     2347
0.009615     2009
0.011538     1293
0.013462      832
0.015385      286
0.017308      142
0.019231      142
0.028846       95
0.025000       91
0.021154       85
0.023077       85
0.026923       68
0.032692       63
0.030769       43
0.036538       38
0.067308       36
0.042308       34
0.038462       32
0.040385       32
0.034615       30
0.055769       24
0.053846       24
0.044231       23
0.046154       22
0.069231       22
0.075000       22
            ...
0.317308        1
0.513462        1
0.269231        1
1.000000        1
0.690385        1
0.263462        1
0.298077        1
0.425000        1
0.176923        1
0.496154        1
0.494231        1
0.113462        1
0.390385        1
0.523077        1
0.250000        1
0.203846        1
0.253846        1
0.480769        1
0.484615        1
0.342308        1
0.557692        1
0.126923        1
0.225000        1
0.209615        1
0.142308        1
0.363462        1
0.401923        1
0.194231        1
0.169231        1
0.186538        1
Name: Time Difference, Length: 148, dtype: int64

In [0]:
data_req=data_req.dropna(how='any')

In [31]:
data_req.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34081 entries, 0 to 34080
Data columns (total 5 columns):
Issue                           34081 non-null object
State                           34081 non-null object
Submitted via                   34081 non-null object
Company response to consumer    34081 non-null object
Time Difference                 34081 non-null float64
dtypes: float64(1), object(4)
memory usage: 1.6+ MB

In [0]:
#data_req[:5]['Total Days'] / np.timedelta64(1, 's')

In [33]:
data_req.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34081 entries, 0 to 34080
Data columns (total 5 columns):
Issue                           34081 non-null object
State                           34081 non-null object
Submitted via                   34081 non-null object
Company response to consumer    34081 non-null object
Time Difference                 34081 non-null float64
dtypes: float64(1), object(4)
memory usage: 1.6+ MB

In [34]:
dumy=pd.get_dummies(data_req['Issue'])
dumy.head()

,"Application, originator, mortgage broker",Applying for a mortgage,Applying for a mortgage or refinancing an existing mortgage,Closing on a mortgage,Credit decision / Underwriting,Improper use of your report,Incorrect information on your report,"Loan modification,collection,foreclosure","Loan servicing, payments, escrow account",Other,Problem with a credit reporting company's investigation into an existing problem,Settlement process and costs,Struggling to pay mortgage,Trouble during payment process,Unable to get your credit report or credit score
0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
4,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [35]:
data_req_new = pd.concat([data_req,dumy],axis=1)
data_req_new.shape

(34081, 20)

In [36]:
dumy=pd.get_dummies(data_req['State'])
dumy.head()

,AK,AL,AR,AZ,CA,CO,CT,DC,DE,FL,...,SD,TN,TX,UT,VA,VT,WA,WI,WV,WY
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0

In [37]:
data_req_new = pd.concat([data_req_new,dumy],axis=1)
data_req_new.shape

(34081, 72)

In [38]:
dumy=pd.get_dummies(data_req['Submitted via'])
dumy.head()

   Email  Fax  Phone  Postal mail  Referral  Web
0      0    0      0            0         0    1
1      0    0      0            0         1    0
2      0    0      0            0         0    1
3      0    0      0            0         0    1
4      0    0      0            0         0    1

In [39]:
data_req_new = pd.concat([data_req_new,dumy],axis=1)
data_req_new.shape

(34081, 78)

In [40]:
dumy=pd.get_dummies(data_req['Company response to consumer'])
dumy.head()

,Closed,Closed with explanation,Closed with monetary relief,Closed with non-monetary relief,Closed with relief,Closed without relief,In progress,Untimely response
0,0,1,0,0,0,0,0,0
1,0,1,0,0,0,0,0,0
2,0,1,0,0,0,0,0,0
3,0,1,0,0,0,0,0,0
4,0,1,0,0,0,0,0,0

In [41]:
data_req_new = pd.concat([data_req_new,dumy],axis=1)
data_req_new.shape

(34081, 86)

In [42]:
data_req_new=data_req_new.drop(['Issue','State','Submitted via','Company response to consumer'], axis=1)
data_req_new.shape

(34081, 82)

In [43]:
data_req_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34081 entries, 0 to 34080
Data columns (total 82 columns):
Time Difference                                                                     34081 non-null float64
Application, originator, mortgage broker                                            34081 non-null uint8
Applying for a mortgage                                                             34081 non-null uint8
Applying for a mortgage or refinancing an existing mortgage                         34081 non-null uint8
Closing on a mortgage                                                               34081 non-null uint8
Credit decision / Underwriting                                                      34081 non-null uint8
Improper use of your report                                                         34081 non-null uint8
Incorrect information on your report                                                34081 non-null uint8
Loan modification,collection,foreclosure                                            34081 non-null uint8
Loan servicing, payments, escrow account                                            34081 non-null uint8
Other                                                                               34081 non-null uint8
Problem with a credit reporting company's investigation into an existing problem    34081 non-null uint8
Settlement process and costs                                                        34081 non-null uint8
Struggling to pay mortgage                                                          34081 non-null uint8
Trouble during payment process                                                      34081 non-null uint8
Unable to get your credit report or credit score                                    34081 non-null uint8
AK                                                                                  34081 non-null uint8
AL                                                                                  34081 non-null uint8
AR                                                                                  34081 non-null uint8
AZ                                                                                  34081 non-null uint8
CA                                                                                  34081 non-null uint8
CO                                                                                  34081 non-null uint8
CT                                                                                  34081 non-null uint8
DC                                                                                  34081 non-null uint8
DE                                                                                  34081 non-null uint8
FL                                                                                  34081 non-null uint8
GA                                                                                  34081 non-null uint8
HI                                                                                  34081 non-null uint8
IA                                                                                  34081 non-null uint8
ID                                                                                  34081 non-null uint8
IL                                                                                  34081 non-null uint8
IN                                                                                  34081 non-null uint8
KS                                                                                  34081 non-null uint8
KY                                                                                  34081 non-null uint8
LA                                                                                  34081 non-null uint8
MA                                                                                  34081 non-null uint8
MD                                                                                  34081 non-null uint8
ME                                                                                  34081 non-null uint8
MI                                                                                  34081 non-null uint8
MN                                                                                  34081 non-null uint8
MO                                                                                  34081 non-null uint8
MS                                                                                  34081 non-null uint8
MT                                                                                  34081 non-null uint8
NC                                                                                  34081 non-null uint8
ND                                                                                  34081 non-null uint8
NE                                                                                  34081 non-null uint8
NH                                                                                  34081 non-null uint8
NJ                                                                                  34081 non-null uint8
NM                                                                                  34081 non-null uint8
NV                                                                                  34081 non-null uint8
NY                                                                                  34081 non-null uint8
OH                                                                                  34081 non-null uint8
OK                                                                                  34081 non-null uint8
OR                                                                                  34081 non-null uint8
PA                                                                                  34081 non-null uint8
PR                                                                                  34081 non-null uint8
RI                                                                                  34081 non-null uint8
SC                                                                                  34081 non-null uint8
SD                                                                                  34081 non-null uint8
TN                                                                                  34081 non-null uint8
TX                                                                                  34081 non-null uint8
UT                                                                                  34081 non-null uint8
VA                                                                                  34081 non-null uint8
VT                                                                                  34081 non-null uint8
WA                                                                                  34081 non-null uint8
WI                                                                                  34081 non-null uint8
WV                                                                                  34081 non-null uint8
WY                                                                                  34081 non-null uint8
Email                                                                               34081 non-null uint8
Fax                                                                                 34081 non-null uint8
Phone                                                                               34081 non-null uint8
Postal mail                                                                         34081 non-null uint8
Referral                                                                            34081 non-null uint8
Web                                                                                 34081 non-null uint8
Closed                                                                              34081 non-null uint8
Closed with explanation                                                             34081 non-null uint8
Closed with monetary relief                                                         34081 non-null uint8
Closed with non-monetary relief                                                     34081 non-null uint8
Closed with relief                                                                  34081 non-null uint8
Closed without relief                                                               34081 non-null uint8
In progress                                                                         34081 non-null uint8
Untimely response                                                                   34081 non-null uint8
dtypes: float64(1), uint8(81)
memory usage: 3.2 MB

In [44]:
!pip install kmodes

Collecting kmodes
  Downloading https://files.pythonhosted.org/packages/1a/d5/54e0efa2ddf33234761f8c35471f4a2280bb4cef44fd39fa08f1e663946a/kmodes-0.9-py2.py3-none-any.whl
Requirement already satisfied: scipy>=0.13.3 in /usr/local/lib/python3.6/dist-packages (from kmodes) (0.19.1)
Requirement already satisfied: scikit-learn<0.20.0,>=0.19.0 in /usr/local/lib/python3.6/dist-packages (from kmodes) (0.19.2)
Requirement already satisfied: numpy>=1.10.4 in /usr/local/lib/python3.6/dist-packages (from kmodes) (1.14.5)
Installing collected packages: kmodes
Successfully installed kmodes-0.9

In [0]:
from kmodes.kprototypes import KPrototypes

In [0]:
km = KPrototypes(n_clusters=10, init='Huang', n_init=3, verbose=1)

In [55]:
#clusters = km.fit_predict(data_req_new)
clusters = km.fit_predict(data_req.as_matrix(), categorical=list(range(0,4)))

Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 1, iteration: 1/100, moves: 8953, ncost: 390.75123683185876
Run: 1, iteration: 2/100, moves: 2287, ncost: 390.50734654954863
Run: 1, iteration: 3/100, moves: 677, ncost: 390.48637274019717
Run: 1, iteration: 4/100, moves: 34, ncost: 390.48629071167744
Run: 1, iteration: 5/100, moves: 0, ncost: 390.48629071167744
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 2, iteration: 1/100, moves: 7633, ncost: 379.17327185915195
Run: 2, iteration: 2/100, moves: 2747, ncost: 379.1686231730948
Run: 2, iteration: 3/100, moves: 93, ncost: 379.1686207250499
Run: 2, iteration: 4/100, moves: 0, ncost: 379.1686207250499
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 3, iteration: 1/100, moves: 15578, ncost: 380.44429988633806
Run: 3, iteration: 2/100, moves: 4917, ncost: 380.402855367889
Run: 3, iteration: 3/100, moves: 425, ncost: 380.4005872817568
Run: 3, iteration: 4/100, moves: 33, ncost: 380.4005617029537
Run: 3, iteration: 5/100, moves: 0, ncost: 380.4005617029537
Best run was number 2

In [56]:
print(km.cluster_centroids_)

[array([[0.00234393],
       [0.00140676],
       [0.01338474],
       [0.00048932],
       [0.00162617],
       [0.06065974],
       [0.00993801],
       [0.00756126],
       [0.00313024],
       [0.0063683 ]]), array([['Loan modification,collection,foreclosure', 'CA', 'Web',
        'Closed with non-monetary relief'],
       ['Loan modification,collection,foreclosure', 'FL', 'Web',
        'Closed with explanation'],
       ['Loan servicing, payments, escrow account', 'CA', 'Referral',
        'Closed with explanation'],
       ['Loan servicing, payments, escrow account', 'TX', 'Web',
        'Closed with explanation'],
       ['Struggling to pay mortgage', 'NY', 'Web',
        'Closed with explanation'],
       ['Loan modification,collection,foreclosure', 'IL', 'Web',
        'Closed with explanation'],
       ['Loan modification,collection,foreclosure', 'OH', 'Web',
        'Closed with explanation'],
       ['Loan modification,collection,foreclosure', 'CA', 'Referral',
        'Closed with explanation'],
       ['Loan modification,collection,foreclosure', 'CA', 'Web',
        'Closed with explanation'],
       ['Loan servicing, payments, escrow account', 'GA', 'Web',
        'Closed with explanation']], dtype='<U40')]

In [0]:
clusters=clusters.reshape(34081,1)

In [0]:
class_cluster = pd.DataFrame(clusters,columns=['Class cluster'])

In [60]:
class_cluster.head()

   Class cluster
0              1
1              7
2              3
3              8
4              4

In [61]:
#data_req_new.head()
data_req.head()

,Issue,State,Submitted via,Company response to consumer,Time Difference
0,"Loan modification,collection,foreclosure",NJ,Web,Closed with explanation,0.000000
1,"Loan modification,collection,foreclosure",NY,Referral,Closed with explanation,0.003846
2,"Application, originator, mortgage broker",VA,Web,Closed with explanation,0.000000
3,Settlement process and costs,CA,Web,Closed with explanation,0.000000
4,"Application, originator, mortgage broker",SD,Web,Closed with explanation,0.001923

In [0]:
data_req_new.index = range(data_req_new.shape[0])
data_req_new.head()

In [0]:
#data_req_new = pd.concat([data_req_new,class_cluster],axis=1)
data_req = pd.concat([data_req,class_cluster],axis=1)

In [64]:
#data_req_new.head()
data_req.head()

,Issue,State,Submitted via,Company response to consumer,Time Difference,Class cluster
0,"Loan modification,collection,foreclosure",NJ,Web,Closed with explanation,0.000000,1
1,"Loan modification,collection,foreclosure",NY,Referral,Closed with explanation,0.003846,7
2,"Application, originator, mortgage broker",VA,Web,Closed with explanation,0.000000,3
3,Settlement process and costs,CA,Web,Closed with explanation,0.000000,8
4,"Application, originator, mortgage broker",SD,Web,Closed with explanation,0.001923,4